body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1621px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16169 {
  position:absolute;
  left:0px;
  top:0px;
}
#u16169_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:240px;
  height:319px;
  background-image:none;
}
#u16169_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16170_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:246px;
  height:325px;
}
#u16170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:319px;
}
#u16171 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:155px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:188px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16172 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:67px;
  width:200px;
  height:188px;
}
#u16173 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:86px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16174 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:27px;
  width:200px;
  height:30px;
}
#u16175 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u16176 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:35px;
  width:14px;
  height:14px;
}
#u16177 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16178 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:69px;
  width:196px;
  height:181px;
  overflow:hidden;
}
#u16178_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:181px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u16178_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u16180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u16181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
.u16181 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:8px;
  width:14px;
  height:14px;
}
.u16182 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
.u16183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
.u16183 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u16183_img.selected {
}
.u16183.selected {
}
.u16184 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
.u16185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:4px;
}
.u16185 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:13px;
  width:8px;
  height:4px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
.u16186 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16179-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u16179-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:182px;
  height:30px;
}
#u16179-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:182px;
  height:30px;
}
#u16179-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:182px;
  height:30px;
}
#u16179-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:182px;
  height:30px;
}
#u16179-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:182px;
  height:30px;
}
#u16179-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:182px;
  height:30px;
}
#u16179-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:182px;
  height:30px;
}
#u16179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u16187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u16187 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:272px;
  width:56px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u16188 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:52px;
  word-wrap:break-word;
}
#u16189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u16189 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:272px;
  width:56px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u16190 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:52px;
  word-wrap:break-word;
}
#u16191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16191 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:10px;
  width:300px;
  height:170px;
}
#u16192 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
#u16193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16193 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:356px;
  width:185px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16194 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:181px;
  word-wrap:break-word;
}
#u16195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:76px;
}
#u16195 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:356px;
  width:185px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16196 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:181px;
  word-wrap:break-word;
}
#u16197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16197 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:356px;
  width:208px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16198 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:204px;
  word-wrap:break-word;
}
#u16199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u16199 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:403px;
  width:104px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u16200 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:4px;
  width:97px;
  word-wrap:break-word;
}
#u16201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u16201 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:403px;
  width:22px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u16202 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u16203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:76px;
}
#u16203 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:514px;
  width:185px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16204 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:181px;
  word-wrap:break-word;
}
#u16205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:76px;
}
#u16205 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:514px;
  width:185px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16206 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:181px;
  word-wrap:break-word;
}
#u16207 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:514px;
  width:0px;
  height:0px;
  color:#000000;
}
#u16207_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-82px;
  width:8px;
  height:86px;
}
#u16207_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-88px;
  width:18px;
  height:19px;
}
#u16208 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-49px;
  width:100px;
  word-wrap:break-word;
}
#u16209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16209 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:514px;
  width:185px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16210 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:181px;
  word-wrap:break-word;
}
#u16211 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:552px;
  width:0px;
  height:0px;
  color:#000000;
}
#u16211_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u16211_seg1 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:-9px;
  width:19px;
  height:18px;
}
#u16212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u16213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u16213 {
  border-width:0px;
  position:absolute;
  left:911px;
  top:561px;
  width:104px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u16214 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:4px;
  width:97px;
  word-wrap:break-word;
}
#u16215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u16215 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:561px;
  width:22px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u16216 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u16217 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:394px;
  width:0px;
  height:0px;
  color:#000000;
}
#u16217_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:100px;
  height:8px;
}
#u16217_seg1 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:-9px;
  width:19px;
  height:18px;
}
#u16218 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16219 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:394px;
  width:0px;
  height:0px;
  color:#000000;
}
#u16219_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:83px;
  height:8px;
}
#u16219_seg1 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:-9px;
  width:19px;
  height:18px;
}
#u16220 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16221 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:394px;
  width:0px;
  height:0px;
  color:#000000;
}
#u16221_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:85px;
  height:8px;
}
#u16221_seg1 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-4px;
  width:8px;
  height:166px;
}
#u16221_seg2 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:154px;
  width:19px;
  height:8px;
}
#u16221_seg3 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:149px;
  width:19px;
  height:18px;
}
#u16222 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16223 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:552px;
  width:0px;
  height:0px;
  color:#000000;
}
#u16223_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  height:8px;
}
#u16223_seg1 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-9px;
  width:19px;
  height:18px;
}
#u16224 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:76px;
}
#u16225 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:356px;
  width:102px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16226 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:98px;
  word-wrap:break-word;
}
#u16227 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:394px;
  width:0px;
  height:0px;
  color:#000000;
}
#u16227_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:53px;
  height:8px;
}
#u16227_seg1 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-9px;
  width:19px;
  height:18px;
}
#u16228 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16229 {
  border-width:0px;
  position:absolute;
  left:999px;
  top:356px;
  width:102px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16230 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:98px;
  word-wrap:break-word;
}
#u16231 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:394px;
  width:0px;
  height:0px;
  color:#000000;
}
#u16231_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:65px;
  height:8px;
}
#u16231_seg1 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-9px;
  width:19px;
  height:18px;
}
#u16232 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:76px;
}
#u16233 {
  border-width:0px;
  position:absolute;
  left:1137px;
  top:514px;
  width:102px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16234 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:98px;
  word-wrap:break-word;
}
#u16235 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:552px;
  width:0px;
  height:0px;
  color:#000000;
}
#u16235_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:81px;
  height:8px;
}
#u16235_seg1 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:-9px;
  width:19px;
  height:18px;
}
#u16236 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16237 {
  border-width:0px;
  position:absolute;
  left:1310px;
  top:514px;
  width:102px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16238 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:98px;
  word-wrap:break-word;
}
#u16239 {
  border-width:0px;
  position:absolute;
  left:1239px;
  top:552px;
  width:0px;
  height:0px;
  color:#000000;
}
#u16239_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:75px;
  height:8px;
}
#u16239_seg1 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-9px;
  width:19px;
  height:18px;
}
#u16240 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16241 {
  border-width:0px;
  position:absolute;
  left:1519px;
  top:430px;
  width:102px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16242 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:98px;
  word-wrap:break-word;
}
#u16243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16243 {
  border-width:0px;
  position:absolute;
  left:1519px;
  top:594px;
  width:102px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16244 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:98px;
  word-wrap:break-word;
}
#u16245 {
  border-width:0px;
  position:absolute;
  left:1412px;
  top:552px;
  width:0px;
  height:0px;
  color:#000000;
}
#u16245_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:14px;
  height:8px;
}
#u16245_seg1 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-88px;
  width:8px;
  height:92px;
}
#u16245_seg2 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-88px;
  width:101px;
  height:8px;
}
#u16245_seg3 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:-93px;
  width:19px;
  height:18px;
}
#u16246 {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:-92px;
  width:100px;
  word-wrap:break-word;
}
#u16247 {
  border-width:0px;
  position:absolute;
  left:1412px;
  top:552px;
  width:0px;
  height:0px;
  color:#000000;
}
#u16247_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:14px;
  height:8px;
}
#u16247_seg1 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-4px;
  width:8px;
  height:88px;
}
#u16247_seg2 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:76px;
  width:101px;
  height:8px;
}
#u16247_seg3 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:71px;
  width:19px;
  height:18px;
}
#u16248 {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:72px;
  width:100px;
  word-wrap:break-word;
}
