body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:935px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11992 {
  position:absolute;
  left:0px;
  top:0px;
}
#u11992_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:190px;
  height:175px;
  background-image:none;
}
#u11992_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11993_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:194px;
  height:179px;
}
#u11993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:175px;
}
#u11994 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:81px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11996 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:50px;
  width:60px;
  height:24px;
}
#u11997 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11998 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:53px;
  width:43px;
  height:20px;
}
#u11999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u12000 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:52px;
  width:50px;
  height:20px;
}
#u12000_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12001 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:128px;
  width:56px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12002 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:52px;
  word-wrap:break-word;
}
#u12003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u12003 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:128px;
  width:56px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u12004 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:52px;
  word-wrap:break-word;
}
#u12005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u12005 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:18px;
  width:57px;
  height:20px;
  color:#666666;
}
#u12006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12007 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12008 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:87px;
  width:60px;
  height:24px;
}
#u12009 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12010 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:90px;
  width:43px;
  height:20px;
}
#u12011 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u12012 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:89px;
  width:50px;
  height:20px;
}
#u12012_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12013 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:10px;
  width:300px;
  height:170px;
}
#u12014 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
#u12015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:2px;
}
#u12015 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:899px;
  height:1px;
}
#u12016 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:895px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:66px;
}
#u12017 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:10px;
  width:211px;
  height:66px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u12018 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:207px;
  word-wrap:break-word;
}
#u12019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:66px;
}
#u12019 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:218px;
  width:211px;
  height:66px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u12020 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:207px;
  word-wrap:break-word;
}
#u12021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:645px;
  height:175px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u12021 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:239px;
  width:645px;
  height:175px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u12022 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:641px;
  word-wrap:break-word;
}
#u12023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:175px;
}
#u12023 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:239px;
  width:189px;
  height:175px;
}
#u12024 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:80px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
