body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1839px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:249px;
}
#u20232 {
  position:absolute;
  left:568px;
  top:132px;
  width:218px;
  height:249px;
}
#u20233 {
  position:absolute;
  left:2px;
  top:116px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20234 {
  position:absolute;
  left:835px;
  top:450px;
  width:154px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20235 {
  position:absolute;
  left:2px;
  top:4px;
  width:150px;
  word-wrap:break-word;
}
#u20236 {
  position:absolute;
  left:1058px;
  top:450px;
  width:786px;
  height:446px;
}
#u20237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u20237 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20238 {
  position:absolute;
  left:2px;
  top:6px;
  width:191px;
  word-wrap:break-word;
}
#u20239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u20239 {
  position:absolute;
  left:195px;
  top:0px;
  width:195px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20240 {
  position:absolute;
  left:2px;
  top:6px;
  width:191px;
  word-wrap:break-word;
}
#u20241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u20241 {
  position:absolute;
  left:390px;
  top:0px;
  width:195px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20242 {
  position:absolute;
  left:2px;
  top:6px;
  width:191px;
  word-wrap:break-word;
}
#u20243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:30px;
}
#u20243 {
  position:absolute;
  left:585px;
  top:0px;
  width:196px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20244 {
  position:absolute;
  left:2px;
  top:6px;
  width:192px;
  word-wrap:break-word;
}
#u20245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:124px;
}
#u20245 {
  position:absolute;
  left:0px;
  top:30px;
  width:195px;
  height:124px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20246 {
  position:absolute;
  left:2px;
  top:44px;
  width:191px;
  word-wrap:break-word;
}
#u20247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:124px;
}
#u20247 {
  position:absolute;
  left:195px;
  top:30px;
  width:195px;
  height:124px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20248 {
  position:absolute;
  left:2px;
  top:44px;
  width:191px;
  word-wrap:break-word;
}
#u20249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:124px;
}
#u20249 {
  position:absolute;
  left:390px;
  top:30px;
  width:195px;
  height:124px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20250 {
  position:absolute;
  left:2px;
  top:53px;
  width:191px;
  word-wrap:break-word;
}
#u20251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:124px;
}
#u20251 {
  position:absolute;
  left:585px;
  top:30px;
  width:196px;
  height:124px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u20252 {
  position:absolute;
  left:2px;
  top:-1px;
  width:192px;
  word-wrap:break-word;
}
#u20253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:90px;
}
#u20253 {
  position:absolute;
  left:0px;
  top:154px;
  width:195px;
  height:90px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20254 {
  position:absolute;
  left:2px;
  top:36px;
  width:191px;
  word-wrap:break-word;
}
#u20255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:90px;
}
#u20255 {
  position:absolute;
  left:195px;
  top:154px;
  width:195px;
  height:90px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20256 {
  position:absolute;
  left:2px;
  top:27px;
  width:191px;
  word-wrap:break-word;
}
#u20257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:90px;
}
#u20257 {
  position:absolute;
  left:390px;
  top:154px;
  width:195px;
  height:90px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20258 {
  position:absolute;
  left:2px;
  top:36px;
  width:191px;
  word-wrap:break-word;
}
#u20259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:90px;
}
#u20259 {
  position:absolute;
  left:585px;
  top:154px;
  width:196px;
  height:90px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u20260 {
  position:absolute;
  left:2px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u20261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:90px;
}
#u20261 {
  position:absolute;
  left:0px;
  top:244px;
  width:195px;
  height:90px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20262 {
  position:absolute;
  left:2px;
  top:36px;
  width:191px;
  word-wrap:break-word;
}
#u20263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:90px;
}
#u20263 {
  position:absolute;
  left:195px;
  top:244px;
  width:195px;
  height:90px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20264 {
  position:absolute;
  left:2px;
  top:27px;
  width:191px;
  word-wrap:break-word;
}
#u20265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:90px;
}
#u20265 {
  position:absolute;
  left:390px;
  top:244px;
  width:195px;
  height:90px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20266 {
  position:absolute;
  left:2px;
  top:36px;
  width:191px;
  word-wrap:break-word;
}
#u20267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:90px;
}
#u20267 {
  position:absolute;
  left:585px;
  top:244px;
  width:196px;
  height:90px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u20268 {
  position:absolute;
  left:2px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u20269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:107px;
}
#u20269 {
  position:absolute;
  left:0px;
  top:334px;
  width:195px;
  height:107px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20270 {
  position:absolute;
  left:2px;
  top:44px;
  width:191px;
  word-wrap:break-word;
}
#u20271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:107px;
}
#u20271 {
  position:absolute;
  left:195px;
  top:334px;
  width:195px;
  height:107px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20272 {
  position:absolute;
  left:2px;
  top:36px;
  width:191px;
  word-wrap:break-word;
}
#u20273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:107px;
}
#u20273 {
  position:absolute;
  left:390px;
  top:334px;
  width:195px;
  height:107px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20274 {
  position:absolute;
  left:2px;
  top:44px;
  width:191px;
  word-wrap:break-word;
}
#u20275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:107px;
}
#u20275 {
  position:absolute;
  left:585px;
  top:334px;
  width:196px;
  height:107px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u20276 {
  position:absolute;
  left:2px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u20277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20277 {
  position:absolute;
  left:26px;
  top:178px;
  width:154px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20278 {
  position:absolute;
  left:2px;
  top:16px;
  width:150px;
  word-wrap:break-word;
}
#u20279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u20279 {
  position:absolute;
  left:403px;
  top:54px;
  width:68px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u20280 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u20281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20281 {
  position:absolute;
  left:230px;
  top:178px;
  width:154px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20282 {
  position:absolute;
  left:2px;
  top:16px;
  width:150px;
  word-wrap:break-word;
}
#u20283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:878px;
}
#u20283 {
  position:absolute;
  left:507px;
  top:54px;
  width:1px;
  height:877px;
}
#u20284 {
  position:absolute;
  left:2px;
  top:430px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u20285 {
  position:absolute;
  left:532px;
  top:54px;
  width:145px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u20286 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u20287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u20287 {
  position:absolute;
  left:230px;
  top:60px;
  width:113px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u20288 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u20289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u20289 {
  position:absolute;
  left:780px;
  top:58px;
  width:57px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u20290 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20291 {
  position:absolute;
  left:180px;
  top:204px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u20291_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u20291_seg1 {
  position:absolute;
  left:36px;
  top:-10px;
  width:21px;
  height:20px;
}
#u20292 {
  position:absolute;
  left:-25px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20293 {
  position:absolute;
  left:600px;
  top:178px;
  width:154px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20294 {
  position:absolute;
  left:2px;
  top:16px;
  width:150px;
  word-wrap:break-word;
}
#u20295 {
  position:absolute;
  left:384px;
  top:204px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u20295_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:220px;
  height:8px;
}
#u20295_seg1 {
  position:absolute;
  left:202px;
  top:-10px;
  width:21px;
  height:20px;
}
#u20296 {
  position:absolute;
  left:58px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u20297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20297 {
  position:absolute;
  left:835px;
  top:279px;
  width:154px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20298 {
  position:absolute;
  left:2px;
  top:16px;
  width:150px;
  word-wrap:break-word;
}
#u20299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20299 {
  position:absolute;
  left:600px;
  top:279px;
  width:154px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20300 {
  position:absolute;
  left:2px;
  top:16px;
  width:150px;
  word-wrap:break-word;
}
#u20301 {
  position:absolute;
  left:835px;
  top:305px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u20301_seg0 {
  position:absolute;
  left:-81px;
  top:-4px;
  width:85px;
  height:8px;
}
#u20301_seg1 {
  position:absolute;
  left:-88px;
  top:-10px;
  width:21px;
  height:20px;
}
#u20302 {
  position:absolute;
  left:-90px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u20303 {
  position:absolute;
  left:669px;
  top:354px;
  width:29px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u20304 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u20305 {
  position:absolute;
  left:568px;
  top:257px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u20305_seg0 {
  position:absolute;
  left:-166px;
  top:-4px;
  width:166px;
  height:8px;
}
#u20305_seg1 {
  position:absolute;
  left:-166px;
  top:-4px;
  width:8px;
  height:84px;
}
#u20305_seg2 {
  position:absolute;
  left:-188px;
  top:72px;
  width:30px;
  height:8px;
}
#u20305_seg3 {
  position:absolute;
  left:-188px;
  top:76px;
  width:8px;
  height:4px;
}
#u20305_seg4 {
  position:absolute;
  left:-194px;
  top:62px;
  width:20px;
  height:21px;
}
#u20306 {
  position:absolute;
  left:-180px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u20307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20307 {
  position:absolute;
  left:230px;
  top:307px;
  width:154px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20308 {
  position:absolute;
  left:2px;
  top:16px;
  width:150px;
  word-wrap:break-word;
}
#u20309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20309 {
  position:absolute;
  left:230px;
  top:546px;
  width:154px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20310 {
  position:absolute;
  left:2px;
  top:16px;
  width:150px;
  word-wrap:break-word;
}
#u20311 {
  position:absolute;
  left:568px;
  top:257px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u20311_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u20311_seg1 {
  position:absolute;
  left:-28px;
  top:-4px;
  width:32px;
  height:8px;
}
#u20311_seg2 {
  position:absolute;
  left:-28px;
  top:-4px;
  width:8px;
  height:272px;
}
#u20311_seg3 {
  position:absolute;
  left:-265px;
  top:260px;
  width:245px;
  height:8px;
}
#u20311_seg4 {
  position:absolute;
  left:-265px;
  top:260px;
  width:8px;
  height:30px;
}
#u20311_seg5 {
  position:absolute;
  left:-271px;
  top:275px;
  width:20px;
  height:21px;
}
#u20312 {
  position:absolute;
  left:-74px;
  top:242px;
  width:100px;
  word-wrap:break-word;
}
#u20313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20313 {
  position:absolute;
  left:230px;
  top:447px;
  width:154px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20314 {
  position:absolute;
  left:2px;
  top:16px;
  width:150px;
  word-wrap:break-word;
}
#u20315 {
  position:absolute;
  left:307px;
  top:498px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u20315_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u20315_seg1 {
  position:absolute;
  left:-10px;
  top:34px;
  width:20px;
  height:21px;
}
#u20316 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20317 {
  position:absolute;
  left:307px;
  top:358px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u20317_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:93px;
}
#u20317_seg1 {
  position:absolute;
  left:-10px;
  top:75px;
  width:20px;
  height:21px;
}
#u20318 {
  position:absolute;
  left:-50px;
  top:36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20319 {
  position:absolute;
  left:230px;
  top:634px;
  width:154px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20320 {
  position:absolute;
  left:2px;
  top:16px;
  width:150px;
  word-wrap:break-word;
}
#u20321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20321 {
  position:absolute;
  left:230px;
  top:808px;
  width:154px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20322 {
  position:absolute;
  left:2px;
  top:16px;
  width:150px;
  word-wrap:break-word;
}
#u20323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20323 {
  position:absolute;
  left:230px;
  top:724px;
  width:154px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20324 {
  position:absolute;
  left:2px;
  top:16px;
  width:150px;
  word-wrap:break-word;
}
#u20325 {
  position:absolute;
  left:307px;
  top:597px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u20325_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u20325_seg1 {
  position:absolute;
  left:-10px;
  top:23px;
  width:20px;
  height:21px;
}
#u20326 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20327 {
  position:absolute;
  left:307px;
  top:685px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u20327_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u20327_seg1 {
  position:absolute;
  left:-10px;
  top:25px;
  width:20px;
  height:21px;
}
#u20328 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20329 {
  position:absolute;
  left:607px;
  top:447px;
  width:154px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20330 {
  position:absolute;
  left:2px;
  top:16px;
  width:150px;
  word-wrap:break-word;
}
#u20331 {
  position:absolute;
  left:384px;
  top:473px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u20331_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:227px;
  height:8px;
}
#u20331_seg1 {
  position:absolute;
  left:209px;
  top:-10px;
  width:21px;
  height:20px;
}
#u20332 {
  position:absolute;
  left:62px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20333 {
  position:absolute;
  left:607px;
  top:634px;
  width:154px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20334 {
  position:absolute;
  left:2px;
  top:16px;
  width:150px;
  word-wrap:break-word;
}
#u20335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20335 {
  position:absolute;
  left:607px;
  top:724px;
  width:154px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20336 {
  position:absolute;
  left:2px;
  top:16px;
  width:150px;
  word-wrap:break-word;
}
#u20337 {
  position:absolute;
  left:384px;
  top:660px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u20337_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:227px;
  height:8px;
}
#u20337_seg1 {
  position:absolute;
  left:209px;
  top:-10px;
  width:21px;
  height:20px;
}
#u20338 {
  position:absolute;
  left:62px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20339 {
  position:absolute;
  left:384px;
  top:750px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u20339_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:227px;
  height:8px;
}
#u20339_seg1 {
  position:absolute;
  left:209px;
  top:-10px;
  width:21px;
  height:20px;
}
#u20340 {
  position:absolute;
  left:62px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20341 {
  position:absolute;
  left:761px;
  top:473px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u20341_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u20341_seg1 {
  position:absolute;
  left:60px;
  top:-10px;
  width:21px;
  height:20px;
}
#u20342 {
  position:absolute;
  left:-13px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20343 {
  position:absolute;
  left:835px;
  top:637px;
  width:154px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20344 {
  position:absolute;
  left:2px;
  top:4px;
  width:150px;
  word-wrap:break-word;
}
#u20345 {
  position:absolute;
  left:761px;
  top:660px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u20345_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u20345_seg1 {
  position:absolute;
  left:60px;
  top:-10px;
  width:21px;
  height:20px;
}
#u20346 {
  position:absolute;
  left:-13px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20347 {
  position:absolute;
  left:835px;
  top:727px;
  width:154px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20348 {
  position:absolute;
  left:2px;
  top:4px;
  width:150px;
  word-wrap:break-word;
}
#u20349 {
  position:absolute;
  left:761px;
  top:750px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u20349_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u20349_seg1 {
  position:absolute;
  left:60px;
  top:-10px;
  width:21px;
  height:20px;
}
#u20350 {
  position:absolute;
  left:-13px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:187px;
}
#u20351 {
  position:absolute;
  left:164px;
  top:567px;
  width:39px;
  height:186px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20352 {
  position:absolute;
  left:2px;
  top:85px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20353 {
  position:absolute;
  left:835px;
  top:876px;
  width:154px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20354 {
  position:absolute;
  left:2px;
  top:4px;
  width:150px;
  word-wrap:break-word;
}
#u20355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20355 {
  position:absolute;
  left:203px;
  top:634px;
  width:15px;
  height:62px;
}
#u20356 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u20357 {
  position:absolute;
  left:307px;
  top:775px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u20357_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u20357_seg1 {
  position:absolute;
  left:-10px;
  top:19px;
  width:20px;
  height:21px;
}
#u20358 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20359 {
  position:absolute;
  left:607px;
  top:873px;
  width:154px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20360 {
  position:absolute;
  left:2px;
  top:16px;
  width:150px;
  word-wrap:break-word;
}
#u20361 {
  position:absolute;
  left:164px;
  top:660px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u20361_seg0 {
  position:absolute;
  left:-18px;
  top:-4px;
  width:18px;
  height:8px;
}
#u20361_seg1 {
  position:absolute;
  left:-18px;
  top:-4px;
  width:8px;
  height:247px;
}
#u20361_seg2 {
  position:absolute;
  left:-18px;
  top:235px;
  width:461px;
  height:8px;
}
#u20361_seg3 {
  position:absolute;
  left:429px;
  top:229px;
  width:21px;
  height:20px;
}
#u20362 {
  position:absolute;
  left:38px;
  top:221px;
  width:100px;
  word-wrap:break-word;
}
#u20363 {
  position:absolute;
  left:761px;
  top:899px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u20363_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u20363_seg1 {
  position:absolute;
  left:60px;
  top:-10px;
  width:21px;
  height:20px;
}
#u20364 {
  position:absolute;
  left:-13px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20365 {
  position:absolute;
  left:26px;
  top:14px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u20365_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u20365_seg1 {
  position:absolute;
  left:36px;
  top:-10px;
  width:21px;
  height:20px;
}
#u20366 {
  position:absolute;
  left:-25px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u20367 {
  position:absolute;
  left:26px;
  top:20px;
  width:43px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u20368 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u20369 {
  position:absolute;
  left:109px;
  top:17px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u20369_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:55px;
  height:8px;
}
#u20369_seg1 {
  position:absolute;
  left:37px;
  top:-10px;
  width:21px;
  height:20px;
}
#u20370 {
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#66FF00;
}
#u20371 {
  position:absolute;
  left:107px;
  top:20px;
  width:57px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#66FF00;
}
#u20372 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20373 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u20374 {
  position:absolute;
  left:1118px;
  top:9px;
  width:145px;
  height:41px;
  font-size:36px;
}
#u20375 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u20376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u20376 {
  position:absolute;
  left:1058px;
  top:4px;
  width:50px;
  height:50px;
}
#u20377 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
