body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:935px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9942 {
  position:absolute;
  left:0px;
  top:0px;
}
#u9942_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u9942_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9943_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:196px;
  height:181px;
}
#u9943 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:175px;
}
#u9944 {
  position:absolute;
  left:2px;
  top:81px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9945 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9946 {
  position:absolute;
  left:68px;
  top:50px;
  width:60px;
  height:24px;
}
#u9947 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9948 {
  position:absolute;
  left:20px;
  top:53px;
  width:43px;
  height:20px;
}
#u9949 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u9950 {
  position:absolute;
  left:73px;
  top:52px;
  width:50px;
  height:20px;
}
#u9950_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9951 {
  position:absolute;
  left:20px;
  top:128px;
  width:56px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9952 {
  position:absolute;
  left:2px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u9953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u9953 {
  position:absolute;
  left:94px;
  top:128px;
  width:56px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u9954 {
  position:absolute;
  left:2px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u9955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u9955 {
  position:absolute;
  left:20px;
  top:18px;
  width:57px;
  height:20px;
  color:#666666;
}
#u9956 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9957 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9958 {
  position:absolute;
  left:68px;
  top:87px;
  width:60px;
  height:24px;
}
#u9959 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9960 {
  position:absolute;
  left:20px;
  top:90px;
  width:43px;
  height:20px;
}
#u9961 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u9962 {
  position:absolute;
  left:73px;
  top:89px;
  width:50px;
  height:20px;
}
#u9962_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9963 {
  position:absolute;
  left:353px;
  top:10px;
  width:300px;
  height:170px;
}
#u9964 {
  position:absolute;
  left:2px;
  top:78px;
  width:296px;
  word-wrap:break-word;
}
#u9965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:2px;
}
#u9965 {
  position:absolute;
  left:0px;
  top:200px;
  width:899px;
  height:1px;
}
#u9966 {
  position:absolute;
  left:2px;
  top:-8px;
  width:895px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:66px;
}
#u9967 {
  position:absolute;
  left:724px;
  top:10px;
  width:211px;
  height:66px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u9968 {
  position:absolute;
  left:2px;
  top:8px;
  width:207px;
  word-wrap:break-word;
}
#u9969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:66px;
}
#u9969 {
  position:absolute;
  left:724px;
  top:218px;
  width:211px;
  height:66px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u9970 {
  position:absolute;
  left:2px;
  top:8px;
  width:207px;
  word-wrap:break-word;
}
#u9971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:645px;
  height:175px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u9971 {
  position:absolute;
  left:260px;
  top:239px;
  width:645px;
  height:175px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u9972 {
  position:absolute;
  left:2px;
  top:-10px;
  width:641px;
  word-wrap:break-word;
}
#u9973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:175px;
}
#u9973 {
  position:absolute;
  left:0px;
  top:239px;
  width:189px;
  height:175px;
}
#u9974 {
  position:absolute;
  left:2px;
  top:80px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
