body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:817px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u25921 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u25923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:51px;
}
.u25923 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
  font-family:'.PingFang-SC-Medium', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
}
.u25923_img.mouseOver {
}
.u25923.mouseOver {
}
.u25924 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:56px;
  word-wrap:break-word;
}
.u25925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:51px;
}
.u25925 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:60px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.u25925_img.mouseOver {
}
.u25925.mouseOver {
}
.u25926 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:56px;
  word-wrap:break-word;
}
.u25927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:51px;
}
.u25927 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:60px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.u25927_img.mouseOver {
}
.u25927.mouseOver {
}
.u25928 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:56px;
  word-wrap:break-word;
}
.u25929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:51px;
}
.u25929 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:0px;
  width:300px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.u25929_img.mouseOver {
}
.u25929.mouseOver {
}
.u25930 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  word-wrap:break-word;
}
#u25922-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:50px;
}
#u25922-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:480px;
  height:50px;
}
#u25922-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:480px;
  height:50px;
}
#u25922 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:480px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u25931 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:45px;
}
#u25932 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u25933 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:56px;
  word-wrap:break-word;
}
#u25934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:45px;
}
#u25934 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:60px;
  height:44px;
  color:#FFFFFF;
}
#u25935 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:56px;
  word-wrap:break-word;
}
#u25936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:45px;
}
#u25936 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:60px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u25937 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:56px;
  word-wrap:break-word;
}
#u25938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:45px;
}
#u25938 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:0px;
  width:300px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u25939 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  word-wrap:break-word;
}
#u25940_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25940 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:0px;
  width:300px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25941 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  word-wrap:break-word;
}
