body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5587 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:93px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5588 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:413px;
  word-wrap:break-word;
}
#u5589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:151px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5589 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:116px;
  width:425px;
  height:151px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5590 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:413px;
  word-wrap:break-word;
}
#u5591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:92px;
}
#u5591 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:554px;
  width:207px;
  height:92px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u5592 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:203px;
  word-wrap:break-word;
}
#u5593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:92px;
}
#u5593 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:311px;
  width:207px;
  height:92px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u5594 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:203px;
  word-wrap:break-word;
}
#u5595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5595 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:311px;
  width:179px;
  height:92px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5596 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:175px;
  word-wrap:break-word;
}
#u5597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:92px;
}
#u5597 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:430px;
  width:207px;
  height:92px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u5598 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:203px;
  word-wrap:break-word;
}
#u5599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5599 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:430px;
  width:179px;
  height:92px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5600 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:175px;
  word-wrap:break-word;
}
#u5601 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:474px;
  width:136px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:92px;
}
#u5602 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:968px;
  width:207px;
  height:92px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u5603 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:203px;
  word-wrap:break-word;
}
#u5604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:92px;
}
#u5604 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:968px;
  width:179px;
  height:92px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5605 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:175px;
  word-wrap:break-word;
}
#u5606 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:1014px;
  width:0px;
  height:0px;
  color:#000000;
}
#u5606_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:85px;
  height:8px;
}
#u5606_seg1 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:-9px;
  width:19px;
  height:18px;
}
#u5607 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5608 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:1014px;
  width:0px;
  height:0px;
  color:#000000;
}
#u5608_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:90px;
  height:8px;
}
#u5608_seg1 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-4px;
  width:8px;
  height:544px;
}
#u5608_seg2 {
  border-width:0px;
  position:absolute;
  left:-93px;
  top:532px;
  width:183px;
  height:8px;
}
#u5608_seg3 {
  border-width:0px;
  position:absolute;
  left:-93px;
  top:532px;
  width:8px;
  height:19px;
}
#u5608_seg4 {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:538px;
  width:18px;
  height:19px;
}
#u5609 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:312px;
  width:100px;
  word-wrap:break-word;
}
#u5610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:92px;
}
#u5610 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:1120px;
  width:179px;
  height:92px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5611 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:175px;
  word-wrap:break-word;
}
#u5612 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:1060px;
  width:0px;
  height:0px;
  color:#000000;
}
#u5612_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u5612_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:47px;
  width:18px;
  height:19px;
}
#u5613 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u5614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5614 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:1267px;
  width:179px;
  height:92px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5615 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:175px;
  word-wrap:break-word;
}
#u5616 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:1212px;
  width:0px;
  height:0px;
  color:#000000;
}
#u5616_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u5616_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:42px;
  width:18px;
  height:19px;
}
#u5617 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
}
#u5618 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:1359px;
  width:0px;
  height:0px;
  color:#000000;
}
#u5618_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:210px;
}
#u5618_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:193px;
  width:18px;
  height:19px;
}
#u5619 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:95px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5620 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:1565px;
  width:179px;
  height:92px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5621 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:175px;
  word-wrap:break-word;
}
#u5622 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:1166px;
  width:0px;
  height:0px;
  color:#000000;
}
#u5622_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:17px;
  height:8px;
}
#u5622_seg1 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:-4px;
  width:8px;
  height:392px;
}
#u5622_seg2 {
  border-width:0px;
  position:absolute;
  left:-93px;
  top:380px;
  width:110px;
  height:8px;
}
#u5622_seg3 {
  border-width:0px;
  position:absolute;
  left:-93px;
  top:380px;
  width:8px;
  height:19px;
}
#u5622_seg4 {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:386px;
  width:18px;
  height:19px;
}
#u5623 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:236px;
  width:100px;
  word-wrap:break-word;
}
#u5624 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:351px;
  width:163px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5625 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:357px;
  width:0px;
  height:0px;
  color:#000000;
}
#u5625_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:85px;
  height:8px;
}
#u5625_seg1 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:-9px;
  width:19px;
  height:18px;
}
#u5626 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:92px;
}
#u5627 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:554px;
  width:179px;
  height:92px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5628 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:175px;
  word-wrap:break-word;
}
#u5629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5629 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:548px;
  width:214px;
  height:103px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5630 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:210px;
  word-wrap:break-word;
}
#u5631 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:600px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u5631_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:98px;
  height:8px;
}
#u5631_seg1 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:-9px;
  width:19px;
  height:18px;
}
#u5632 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u5633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5633 {
  border-width:0px;
  position:absolute;
  left:1106px;
  top:729px;
  width:214px;
  height:79px;
}
#u5634 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:210px;
  word-wrap:break-word;
}
#u5635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:101px;
}
#u5635 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:718px;
  width:189px;
  height:101px;
}
#u5636 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:185px;
  word-wrap:break-word;
}
#u5637 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:769px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u5637_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:93px;
  height:8px;
}
#u5637_seg1 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-9px;
  width:19px;
  height:18px;
}
#u5638 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u5639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5639 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:729px;
  width:214px;
  height:79px;
}
#u5640 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u5641 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:819px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u5641_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:76px;
}
#u5641_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:68px;
  width:187px;
  height:8px;
}
#u5641_seg2 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:63px;
  width:19px;
  height:18px;
}
#u5642 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:63px;
  width:100px;
  word-wrap:break-word;
}
#u5643 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:476px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u5643_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:85px;
  height:8px;
}
#u5643_seg1 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:-9px;
  width:19px;
  height:18px;
}
#u5644 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5645 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:600px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u5645_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:85px;
  height:8px;
}
#u5645_seg1 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:-9px;
  width:19px;
  height:18px;
}
#u5646 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:92px;
}
#u5647 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:554px;
  width:179px;
  height:92px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5648 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:175px;
  word-wrap:break-word;
}
#u5649 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:600px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u5649_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:98px;
  height:8px;
}
#u5649_seg1 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:-9px;
  width:19px;
  height:18px;
}
#u5650 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u5651 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:646px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u5651_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:87px;
}
#u5651_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:70px;
  width:18px;
  height:19px;
}
#u5652 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  word-wrap:break-word;
}
#u5653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5653 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:0px;
  width:425px;
  height:115px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5654 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:413px;
  word-wrap:break-word;
}
#u5655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5655 {
  border-width:0px;
  position:absolute;
  left:1106px;
  top:851px;
  width:214px;
  height:79px;
}
#u5656 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:210px;
  word-wrap:break-word;
}
#u5657 {
  border-width:0px;
  position:absolute;
  left:758px;
  top:769px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u5657_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u5657_seg1 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-9px;
  width:19px;
  height:18px;
}
#u5658 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5659 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:646px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u5659_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:127px;
}
#u5659_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:119px;
  width:170px;
  height:8px;
}
#u5659_seg2 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:114px;
  width:19px;
  height:18px;
}
#u5660 {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:114px;
  width:100px;
  word-wrap:break-word;
}
#u5661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:92px;
}
#u5661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:847px;
  width:207px;
  height:92px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u5662 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:203px;
  word-wrap:break-word;
}
#u5663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5663 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:708px;
  width:140px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5664 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:136px;
  word-wrap:break-word;
}
#u5665 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:893px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u5665_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:47px;
  height:8px;
}
#u5665_seg1 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:-105px;
  width:8px;
  height:109px;
}
#u5665_seg2 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-111px;
  width:18px;
  height:19px;
}
#u5666 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-39px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5667 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:708px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u5667_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-112px;
  width:8px;
  height:112px;
}
#u5667_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-112px;
  width:42px;
  height:8px;
}
#u5667_seg2 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-117px;
  width:19px;
  height:18px;
}
#u5668 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-81px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
