body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:924px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u40831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:213px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40831 {
  position:absolute;
  left:0px;
  top:204px;
  width:375px;
  height:213px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40832 {
  position:absolute;
  left:2px;
  top:52px;
  width:371px;
  word-wrap:break-word;
}
#u40833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40833 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:170px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40834 {
  position:absolute;
  left:2px;
  top:76px;
  width:371px;
  word-wrap:break-word;
}
#u40835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40835 {
  position:absolute;
  left:428px;
  top:0px;
  width:310px;
  height:170px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40836 {
  position:absolute;
  left:2px;
  top:13px;
  width:306px;
  word-wrap:break-word;
}
#u40837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:213px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40837 {
  position:absolute;
  left:428px;
  top:204px;
  width:310px;
  height:213px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40838 {
  position:absolute;
  left:2px;
  top:80px;
  width:306px;
  word-wrap:break-word;
}
#u40839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:738px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40839 {
  position:absolute;
  left:0px;
  top:1203px;
  width:738px;
  height:82px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40840 {
  position:absolute;
  left:2px;
  top:14px;
  width:734px;
  word-wrap:break-word;
}
#u40841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40841 {
  position:absolute;
  left:428px;
  top:1319px;
  width:310px;
  height:82px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40842 {
  position:absolute;
  left:2px;
  top:32px;
  width:306px;
  word-wrap:break-word;
}
#u40843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40843 {
  position:absolute;
  left:0px;
  top:1319px;
  width:375px;
  height:82px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40844 {
  position:absolute;
  left:2px;
  top:32px;
  width:371px;
  word-wrap:break-word;
}
#u40845 {
  position:absolute;
  left:767px;
  top:699px;
}
#u40845_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u40845_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:1px 1px 2px rgba(204, 204, 204, 1);
  -webkit-box-shadow:1px 1px 2px rgba(204, 204, 204, 1);
  box-shadow:1px 1px 2px rgba(204, 204, 204, 1);
}
#u40846 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:61px;
}
#u40847 {
  position:absolute;
  left:2px;
  top:22px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
.u40849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u40849 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u40849_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u40849.mouseOver {
}
.u40849_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u40849.selected {
}
.u40850 {
  position:absolute;
  left:20px;
  top:6px;
  width:134px;
  word-wrap:break-word;
}
#u40848-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u40848-2 {
  position:absolute;
  left:0px;
  top:30px;
  width:156px;
  height:30px;
}
#u40848 {
  position:absolute;
  left:1px;
  top:1px;
  width:156px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u40851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:51px;
}
#u40851 {
  position:absolute;
  left:0px;
  top:555px;
  width:196px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40851_img.mouseOver {
}
#u40851.mouseOver {
}
#u40852 {
  position:absolute;
  left:2px;
  top:16px;
  width:192px;
  word-wrap:break-word;
}
#u40853 {
  position:absolute;
  left:443px;
  top:488px;
}
#u40853_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u40853_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:1px 1px 2px rgba(204, 204, 204, 1);
  -webkit-box-shadow:1px 1px 2px rgba(204, 204, 204, 1);
  box-shadow:1px 1px 2px rgba(204, 204, 204, 1);
}
#u40854 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:200px;
}
#u40855 {
  position:absolute;
  left:2px;
  top:92px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:188px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40856 {
  position:absolute;
  left:5px;
  top:5px;
  width:107px;
  height:188px;
}
#u40857 {
  position:absolute;
  left:2px;
  top:86px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40858 {
  position:absolute;
  left:9px;
  top:9px;
  width:100px;
  height:181px;
  overflow:hidden;
}
#u40858_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:181px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u40858_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u40860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:7px;
}
.u40860 {
  position:absolute;
  left:5px;
  top:12px;
  width:10px;
  height:7px;
}
.u40861 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
.u40862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u40862 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u40862_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u40862.mouseOver {
}
.u40862_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u40862.selected {
}
.u40863 {
  position:absolute;
  left:20px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u40859-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u40859-2 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u40859-3 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u40859-4 {
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
}
#u40859-5 {
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:30px;
}
#u40859-6 {
  position:absolute;
  left:0px;
  top:150px;
  width:100px;
  height:30px;
}
#u40859 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u40864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:188px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40864 {
  position:absolute;
  left:112px;
  top:5px;
  width:107px;
  height:188px;
}
#u40865 {
  position:absolute;
  left:2px;
  top:86px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40866 {
  position:absolute;
  left:116px;
  top:9px;
  width:100px;
  height:181px;
  overflow:hidden;
}
#u40866_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:181px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u40866_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u40868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:7px;
}
.u40868 {
  position:absolute;
  left:5px;
  top:12px;
  width:10px;
  height:7px;
}
.u40869 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
.u40870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u40870 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u40870_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u40870.mouseOver {
}
.u40870_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u40870.selected {
}
.u40871 {
  position:absolute;
  left:20px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u40867-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u40867-2 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u40867-3 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u40867-4 {
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
}
#u40867-5 {
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:30px;
}
#u40867 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u40872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:44px;
  background:inherit;
  background-color:rgba(83, 89, 100, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u40872 {
  position:absolute;
  left:0px;
  top:511px;
  width:196px;
  height:44px;
  color:#FFFFFF;
}
#u40873 {
  position:absolute;
  left:2px;
  top:13px;
  width:192px;
  word-wrap:break-word;
}
#u40874 {
  position:absolute;
  left:480px;
  top:802px;
}
#u40874_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u40874_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:1px 1px 2px rgba(204, 204, 204, 1);
  -webkit-box-shadow:1px 1px 2px rgba(204, 204, 204, 1);
  box-shadow:1px 1px 2px rgba(204, 204, 204, 1);
}
#u40875 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:50px;
}
#u40876 {
  position:absolute;
  left:2px;
  top:17px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40877 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40878 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40879 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40880 {
  position:absolute;
  left:62px;
  top:8px;
  width:156px;
  height:35px;
}
#u40881 {
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40882 {
  position:absolute;
  left:70px;
  top:13px;
  width:138px;
  height:25px;
}
#u40882_input {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u40883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u40883 {
  position:absolute;
  left:196px;
  top:19px;
  width:14px;
  height:14px;
}
#u40884 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40885 {
  position:absolute;
  left:11px;
  top:43px;
}
#u40885_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u40885_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:1px 1px 2px rgba(204, 204, 204, 1);
  -webkit-box-shadow:1px 1px 2px rgba(204, 204, 204, 1);
  box-shadow:1px 1px 2px rgba(204, 204, 204, 1);
}
#u40886 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:91px;
}
#u40887 {
  position:absolute;
  left:2px;
  top:38px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
.u40889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u40889 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u40889_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u40889.mouseOver {
}
.u40889_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u40889.selected {
}
.u40890 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  word-wrap:break-word;
}
#u40888-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u40888-2 {
  position:absolute;
  left:0px;
  top:30px;
  width:40px;
  height:30px;
}
#u40888-3 {
  position:absolute;
  left:0px;
  top:60px;
  width:40px;
  height:30px;
}
#u40888 {
  position:absolute;
  left:1px;
  top:1px;
  width:40px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u40891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF9933;
}
#u40891 {
  position:absolute;
  left:10px;
  top:8px;
  width:42px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF9933;
}
#u40892 {
  position:absolute;
  left:2px;
  top:8px;
  width:38px;
  word-wrap:break-word;
}
#u40893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:8px;
}
#u40893 {
  position:absolute;
  left:241px;
  top:22px;
  width:12px;
  height:8px;
}
#u40894 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u40895 {
  position:absolute;
  left:279px;
  top:21px;
  width:9px;
  height:9px;
}
#u40896 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40897 {
  position:absolute;
  left:228px;
  top:7px;
  width:38px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u40898 {
  position:absolute;
  left:266px;
  top:7px;
  width:38px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
