body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:904px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u41718 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u41719 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u41720 {
  position:absolute;
  left:20px;
  top:9px;
  width:246px;
  word-wrap:break-word;
}
#u41721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:5px;
}
#u41721 {
  position:absolute;
  left:249px;
  top:16px;
  width:8px;
  height:5px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u41722 {
  position:absolute;
  left:2px;
  top:-6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41724 {
  position:absolute;
  left:0px;
  top:36px;
}
#u41724_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u41724_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41725_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:404px;
  height:173px;
}
#u41725 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:169px;
}
#u41726 {
  position:absolute;
  left:2px;
  top:78px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
.u41728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:7px;
}
.u41728 {
  position:absolute;
  left:21px;
  top:17px;
  width:10px;
  height:7px;
}
.u41729 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
.u41730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:41px;
}
.u41730 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
  text-align:left;
}
.u41730_img.mouseOver {
}
.u41730.mouseOver {
}
.u41730_img.selected {
}
.u41730.selected {
}
.u41731 {
  position:absolute;
  left:40px;
  top:11px;
  width:348px;
  word-wrap:break-word;
}
#u41727-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
}
#u41727-2 {
  position:absolute;
  left:0px;
  top:40px;
  width:390px;
  height:40px;
}
#u41727-3 {
  position:absolute;
  left:0px;
  top:80px;
  width:390px;
  height:40px;
}
#u41727-4 {
  position:absolute;
  left:0px;
  top:120px;
  width:390px;
  height:40px;
}
#u41727 {
  position:absolute;
  left:3px;
  top:9px;
  width:390px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u41732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:184px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u41732 {
  position:absolute;
  left:454px;
  top:8px;
  width:450px;
  height:184px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u41733 {
  position:absolute;
  left:2px;
  top:46px;
  width:446px;
  word-wrap:break-word;
}
