body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u34161_div {
=======
#u34127_div {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:163px;
  background:inherit;
  background-color:rgba(51, 57, 70, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u34161 {
=======
#u34127 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:202px;
  width:300px;
  height:163px;
}
<<<<<<< HEAD
#u34162 {
=======
#u34128 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:74px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34163_div {
=======
#u34129_div {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u34163 {
=======
#u34129 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:202px;
  width:300px;
  height:62px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u34164 {
=======
#u34130 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34165_div {
=======
#u34131_div {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3DD5B0;
}
<<<<<<< HEAD
#u34165 {
=======
#u34131 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:264px;
  width:300px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3DD5B0;
}
<<<<<<< HEAD
#u34166 {
=======
#u34132 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34167_div {
=======
#u34133_div {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 93, 74, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u34167 {
=======
#u34133 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:17px;
  top:307px;
  width:266px;
  height:41px;
}
<<<<<<< HEAD
#u34168 {
=======
#u34134 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:12px;
  width:262px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34169_div {
=======
#u34135_div {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
<<<<<<< HEAD
#u34169 {
=======
#u34135 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:1045px;
  top:92px;
  width:349px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
<<<<<<< HEAD
#u34170 {
=======
#u34136 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:11px;
  width:345px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34171_div {
=======
#u34137_div {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:163px;
  background:inherit;
  background-color:rgba(51, 57, 70, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u34171 {
=======
#u34137 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:163px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u34172 {
=======
#u34138 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:74px;
  width:296px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34173_div {
=======
#u34139_div {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u34173 {
=======
#u34139 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:62px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u34174 {
=======
#u34140 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34175_div {
=======
#u34141_div {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3DD5B0;
}
<<<<<<< HEAD
#u34175 {
=======
#u34141 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:62px;
  width:300px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3DD5B0;
}
<<<<<<< HEAD
#u34176 {
=======
#u34142 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34177_div {
=======
#u34143_div {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:166px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
<<<<<<< HEAD
#u34177 {
=======
#u34143 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:351px;
  top:564px;
  width:542px;
  height:166px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
<<<<<<< HEAD
#u34178 {
=======
#u34144 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:27px;
  width:538px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34179_div {
=======
#u34145_div {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:163px;
  background:inherit;
  background-color:rgba(51, 57, 70, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u34179 {
=======
#u34145 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:407px;
  width:300px;
  height:163px;
}
<<<<<<< HEAD
#u34180 {
=======
#u34146 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:74px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34181_div {
=======
#u34147_div {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u34181 {
=======
#u34147 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:407px;
  width:300px;
  height:62px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u34182 {
=======
#u34148 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34183_div {
=======
#u34149_div {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF9933;
}
<<<<<<< HEAD
#u34183 {
=======
#u34149 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:469px;
  width:300px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF9933;
}
<<<<<<< HEAD
#u34184 {
=======
#u34150 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34185_div {
=======
#u34151_div {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:163px;
  background:inherit;
  background-color:rgba(51, 57, 70, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u34185 {
=======
#u34151 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:615px;
  width:300px;
  height:163px;
}
<<<<<<< HEAD
#u34186 {
=======
#u34152 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:74px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34187_div {
=======
#u34153_div {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u34187 {
=======
#u34153 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:615px;
  width:300px;
  height:62px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u34188 {
=======
#u34154 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34189_div {
=======
#u34155_div {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
<<<<<<< HEAD
#u34189 {
=======
#u34155 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:677px;
  width:300px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
<<<<<<< HEAD
#u34190 {
=======
#u34156 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34191_div {
=======
#u34157_div {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 93, 74, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u34191 {
=======
#u34157 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:17px;
  top:730px;
  width:266px;
  height:41px;
  opacity:0.1;
}
<<<<<<< HEAD
#u34192 {
=======
#u34158 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:12px;
  width:262px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34194_div {
=======
#u34160_div {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 57, 70, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3DD5B0;
}
<<<<<<< HEAD
#u34194 {
=======
#u34160 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:351px;
  top:43px;
  width:300px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3DD5B0;
}
<<<<<<< HEAD
#u34195 {
=======
#u34161 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34196_div {
=======
#u34162_div {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
<<<<<<< HEAD
#u34196 {
=======
#u34162 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:351px;
  top:43px;
  width:80px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
<<<<<<< HEAD
#u34197 {
=======
#u34163 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34198_div {
=======
#u34164_div {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#3DD5B0;
}
<<<<<<< HEAD
#u34198 {
=======
#u34164 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:457px;
  top:43px;
  width:138px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#3DD5B0;
}
<<<<<<< HEAD
#u34199 {
=======
#u34165 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:16px;
  width:134px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34200_img {
=======
#u34166_img {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
<<<<<<< HEAD
#u34200 {
=======
#u34166 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:431px;
  top:61px;
  width:16px;
  height:14px;
}
<<<<<<< HEAD
#u34201 {
=======
#u34167 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34202_img {
=======
#u34168_img {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
<<<<<<< HEAD
#u34202 {
=======
#u34168 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:605px;
  top:48px;
  width:41px;
  height:41px;
}
<<<<<<< HEAD
#u34203 {
=======
#u34169 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34205_div {
=======
#u34171_div {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 57, 70, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3DD5B0;
}
<<<<<<< HEAD
#u34205 {
=======
#u34171 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:351px;
  top:191px;
  width:300px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3DD5B0;
}
<<<<<<< HEAD
#u34206 {
=======
#u34172 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34207_div {
=======
#u34173_div {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
<<<<<<< HEAD
#u34207 {
=======
#u34173 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:351px;
  top:191px;
  width:80px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
<<<<<<< HEAD
#u34208 {
=======
#u34174 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34209_div {
=======
#u34175_div {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#3DD5B0;
}
<<<<<<< HEAD
#u34209 {
=======
#u34175 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:457px;
  top:191px;
  width:138px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#3DD5B0;
}
<<<<<<< HEAD
#u34210 {
=======
#u34176 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:16px;
  width:134px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34211_img {
=======
#u34177_img {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
<<<<<<< HEAD
#u34211 {
=======
#u34177 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:431px;
  top:209px;
  width:16px;
  height:14px;
}
<<<<<<< HEAD
#u34212 {
=======
#u34178 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34213_img {
=======
#u34179_img {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
<<<<<<< HEAD
#u34213 {
=======
#u34179 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:605px;
  top:196px;
  width:41px;
  height:41px;
}
<<<<<<< HEAD
#u34214 {
=======
#u34180 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34216_div {
=======
#u34182_div {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 57, 70, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3DD5B0;
}
<<<<<<< HEAD
#u34216 {
=======
#u34182 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:351px;
  top:330px;
  width:300px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3DD5B0;
}
<<<<<<< HEAD
#u34217 {
=======
#u34183 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34218_div {
=======
#u34184_div {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
<<<<<<< HEAD
#u34218 {
=======
#u34184 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:351px;
  top:330px;
  width:80px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
<<<<<<< HEAD
#u34219 {
=======
#u34185 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34220_div {
=======
#u34186_div {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF9933;
}
<<<<<<< HEAD
#u34220 {
=======
#u34186 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:457px;
  top:330px;
  width:138px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF9933;
}
<<<<<<< HEAD
#u34221 {
=======
#u34187 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:16px;
  width:134px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34222_img {
=======
#u34188_img {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
<<<<<<< HEAD
#u34222 {
=======
#u34188 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:431px;
  top:348px;
  width:16px;
  height:14px;
}
<<<<<<< HEAD
#u34223 {
=======
#u34189 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34224_img {
=======
#u34190_img {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
<<<<<<< HEAD
#u34224 {
=======
#u34190 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:605px;
  top:335px;
  width:41px;
  height:41px;
  opacity:0.1;
}
<<<<<<< HEAD
#u34225 {
=======
#u34191 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34227_div {
=======
#u34193_div {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 57, 70, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3DD5B0;
}
<<<<<<< HEAD
#u34227 {
=======
#u34193 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:351px;
  top:480px;
  width:300px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3DD5B0;
}
<<<<<<< HEAD
#u34228 {
=======
#u34194 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34229_div {
=======
#u34195_div {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
<<<<<<< HEAD
#u34229 {
=======
#u34195 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:351px;
  top:480px;
  width:80px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
<<<<<<< HEAD
#u34230 {
=======
#u34196 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34231_div {
=======
#u34197_div {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
<<<<<<< HEAD
#u34231 {
=======
#u34197 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:457px;
  top:480px;
  width:138px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
<<<<<<< HEAD
#u34232 {
=======
#u34198 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:16px;
  width:134px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34233_img {
=======
#u34199_img {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
<<<<<<< HEAD
#u34233 {
=======
#u34199 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:431px;
  top:498px;
  width:16px;
  height:14px;
}
<<<<<<< HEAD
#u34234 {
=======
#u34200 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34235_img {
=======
#u34201_img {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
<<<<<<< HEAD
#u34235 {
=======
#u34201 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:605px;
  top:485px;
  width:41px;
  height:41px;
  opacity:0.1;
}
<<<<<<< HEAD
#u34236 {
=======
#u34202 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34237_div {
=======
#u34203_div {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 93, 74, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u34237 {
=======
#u34203 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:17px;
  top:105px;
  width:266px;
  height:41px;
}
<<<<<<< HEAD
#u34238 {
=======
#u34204 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:12px;
  width:262px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34239_div {
=======
#u34205_div {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 93, 74, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u34239 {
=======
#u34205 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:17px;
  top:522px;
  width:266px;
  height:41px;
  opacity:0.1;
}
<<<<<<< HEAD
#u34240 {
=======
#u34206 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:12px;
  width:262px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34241_img {
=======
#u34207_img {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
<<<<<<< HEAD
#u34241 {
=======
#u34207 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:642px;
  top:30px;
  width:25px;
  height:25px;
  color:#FF0000;
}
<<<<<<< HEAD
#u34242 {
=======
#u34208 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34243_img {
=======
#u34209_img {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
<<<<<<< HEAD
#u34243 {
=======
#u34209 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:642px;
  top:172px;
  width:25px;
  height:25px;
  color:#FF0000;
}
<<<<<<< HEAD
#u34244 {
=======
#u34210 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34245_img {
=======
#u34211_img {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
<<<<<<< HEAD
#u34245 {
=======
#u34211 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:642px;
  top:313px;
  width:25px;
  height:25px;
  color:#FF0000;
}
<<<<<<< HEAD
#u34246 {
=======
#u34212 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34247_div {
=======
#u34213_div {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
<<<<<<< HEAD
#u34247 {
=======
#u34213 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:1045px;
  top:189px;
  width:349px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
<<<<<<< HEAD
#u34248 {
=======
#u34214 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:11px;
  width:345px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34249_div {
=======
#u34215_div {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:36px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u34249 {
=======
#u34215 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:1494px;
  top:198px;
  width:106px;
  height:36px;
}
<<<<<<< HEAD
#u34250 {
=======
#u34216 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34249_ref {
=======
#u34215_ref {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:1592px;
  top:224px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u34251 {
=======
#u34217 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:1394px;
  top:216px;
  width:0px;
  height:0px;
  color:#000000;
}
<<<<<<< HEAD
#u34251_seg0 {
=======
#u34217_seg0 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
<<<<<<< HEAD
#u34251_seg1 {
=======
#u34217_seg1 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:87px;
  top:-9px;
  width:19px;
  height:18px;
}
<<<<<<< HEAD
#u34252 {
=======
#u34218 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34253_img {
=======
#u34219_img {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
<<<<<<< HEAD
#u34253 {
=======
#u34219 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:642px;
  top:462px;
  width:25px;
  height:25px;
  color:#FF0000;
}
<<<<<<< HEAD
#u34254 {
=======
#u34220 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34255_div {
=======
#u34221_div {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
<<<<<<< HEAD
#u34255 {
=======
#u34221 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:1045px;
  top:287px;
  width:349px;
  height:78px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
<<<<<<< HEAD
#u34256 {
=======
#u34222 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:15px;
  width:345px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34257_img {
=======
#u34223_img {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
<<<<<<< HEAD
#u34257 {
=======
#u34223 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:379px;
  top:80px;
  width:25px;
  height:25px;
  color:#FF0000;
}
<<<<<<< HEAD
#u34258 {
=======
#u34224 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34259_div {
=======
#u34225_div {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
<<<<<<< HEAD
#u34259 {
=======
#u34225 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:1045px;
  top:399px;
  width:349px;
  height:78px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
<<<<<<< HEAD
#u34260 {
=======
#u34226 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:23px;
  width:345px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34261_img {
=======
#u34227_img {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
<<<<<<< HEAD
#u34261 {
=======
#u34227 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:438px;
  top:69px;
  width:25px;
  height:25px;
  color:#FF0000;
}
<<<<<<< HEAD
#u34262 {
=======
#u34228 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34263_img {
=======
#u34229_img {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
<<<<<<< HEAD
#u34263 {
=======
#u34229 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:544px;
  top:216px;
  width:25px;
  height:25px;
  color:#FF0000;
}
<<<<<<< HEAD
#u34264 {
=======
#u34230 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34265_div {
=======
#u34231_div {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
<<<<<<< HEAD
#u34265 {
=======
#u34231 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:746px;
  top:20px;
  width:147px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
<<<<<<< HEAD
#u34266 {
=======
#u34232 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:15px;
  width:143px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34267_div {
=======
#u34233_div {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
<<<<<<< HEAD
#u34267 {
=======
#u34233 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:746px;
  top:162px;
  width:147px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
<<<<<<< HEAD
#u34268 {
=======
#u34234 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:15px;
  width:143px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34269_div {
=======
#u34235_div {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
<<<<<<< HEAD
#u34269 {
=======
#u34235 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:746px;
  top:303px;
  width:147px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
<<<<<<< HEAD
#u34270 {
=======
#u34236 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34271_div {
=======
#u34237_div {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
<<<<<<< HEAD
#u34271 {
=======
#u34237 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:746px;
  top:452px;
  width:147px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
<<<<<<< HEAD
#u34272 {
=======
#u34238 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34273 {
=======
#u34239 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:667px;
  top:43px;
  width:0px;
  height:0px;
  color:#000000;
}
<<<<<<< HEAD
#u34273_seg0 {
=======
#u34239_seg0 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:-4px;
  width:83px;
  height:8px;
}
<<<<<<< HEAD
#u34273_seg1 {
=======
#u34239_seg1 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:66px;
  top:-9px;
  width:19px;
  height:18px;
}
<<<<<<< HEAD
#u34274 {
=======
#u34240 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34275 {
=======
#u34241 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:667px;
  top:185px;
  width:0px;
  height:0px;
  color:#000000;
}
<<<<<<< HEAD
#u34275_seg0 {
=======
#u34241_seg0 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:-4px;
  width:83px;
  height:8px;
}
<<<<<<< HEAD
#u34275_seg1 {
=======
#u34241_seg1 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:66px;
  top:-9px;
  width:19px;
  height:18px;
}
<<<<<<< HEAD
#u34276 {
=======
#u34242 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34277 {
=======
#u34243 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:667px;
  top:326px;
  width:0px;
  height:0px;
  color:#000000;
}
<<<<<<< HEAD
#u34277_seg0 {
=======
#u34243_seg0 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:-4px;
  width:83px;
  height:8px;
}
<<<<<<< HEAD
#u34277_seg1 {
=======
#u34243_seg1 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:66px;
  top:-9px;
  width:19px;
  height:18px;
}
<<<<<<< HEAD
#u34278 {
=======
#u34244 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34279 {
=======
#u34245 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:667px;
  top:475px;
  width:0px;
  height:0px;
  color:#000000;
}
<<<<<<< HEAD
#u34279_seg0 {
=======
#u34245_seg0 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:-4px;
  width:83px;
  height:8px;
}
<<<<<<< HEAD
#u34279_seg1 {
=======
#u34245_seg1 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:66px;
  top:-9px;
  width:19px;
  height:18px;
}
<<<<<<< HEAD
#u34280 {
=======
#u34246 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34281_img {
=======
#u34247_img {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
<<<<<<< HEAD
#u34281 {
=======
#u34247 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:616px;
  top:226px;
  width:25px;
  height:25px;
  color:#FF0000;
}
<<<<<<< HEAD
#u34282 {
=======
#u34248 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34283 {
=======
#u34249 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:392px;
  top:105px;
  width:0px;
  height:0px;
  color:#000000;
}
<<<<<<< HEAD
#u34283_seg0 {
=======
#u34249_seg0 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:18px;
}
<<<<<<< HEAD
#u34283_seg1 {
=======
#u34249_seg1 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:-4px;
  top:10px;
  width:657px;
  height:8px;
}
<<<<<<< HEAD
#u34283_seg2 {
=======
#u34249_seg2 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:640px;
  top:5px;
  width:19px;
  height:18px;
}
<<<<<<< HEAD
#u34284 {
=======
#u34250 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:270px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34285 {
=======
#u34251 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:451px;
  top:94px;
  width:0px;
  height:0px;
  color:#000000;
}
<<<<<<< HEAD
#u34285_seg0 {
=======
#u34251_seg0 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:60px;
}
<<<<<<< HEAD
#u34285_seg1 {
=======
#u34251_seg1 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:-4px;
  top:52px;
  width:587px;
  height:8px;
}
<<<<<<< HEAD
#u34285_seg2 {
=======
#u34251_seg2 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:575px;
  top:52px;
  width:8px;
  height:74px;
}
<<<<<<< HEAD
#u34285_seg3 {
=======
#u34251_seg3 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:575px;
  top:118px;
  width:19px;
  height:8px;
}
<<<<<<< HEAD
#u34285_seg4 {
=======
#u34251_seg4 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:581px;
  top:113px;
  width:19px;
  height:18px;
}
<<<<<<< HEAD
#u34286 {
=======
#u34252 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:252px;
  top:48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34287 {
=======
#u34253 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:557px;
  top:241px;
  width:0px;
  height:0px;
  color:#000000;
}
<<<<<<< HEAD
#u34287_seg0 {
=======
#u34253_seg0 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
<<<<<<< HEAD
#u34287_seg1 {
=======
#u34253_seg1 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:-4px;
  top:45px;
  width:481px;
  height:8px;
}
<<<<<<< HEAD
#u34287_seg2 {
=======
#u34253_seg2 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:469px;
  top:45px;
  width:8px;
  height:44px;
}
<<<<<<< HEAD
#u34287_seg3 {
=======
#u34253_seg3 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:469px;
  top:81px;
  width:19px;
  height:8px;
}
<<<<<<< HEAD
#u34287_seg4 {
=======
#u34253_seg4 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:475px;
  top:76px;
  width:19px;
  height:18px;
}
<<<<<<< HEAD
#u34288 {
=======
#u34254 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:188px;
  top:41px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34289 {
=======
#u34255 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:641px;
  top:239px;
  width:0px;
  height:0px;
  color:#000000;
}
<<<<<<< HEAD
#u34289_seg0 {
=======
#u34255_seg0 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:-4px;
  width:393px;
  height:8px;
}
<<<<<<< HEAD
#u34289_seg1 {
=======
#u34255_seg1 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:385px;
  top:-4px;
  width:8px;
  height:207px;
}
<<<<<<< HEAD
#u34289_seg2 {
=======
#u34255_seg2 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:385px;
  top:195px;
  width:19px;
  height:8px;
}
<<<<<<< HEAD
#u34289_seg3 {
=======
#u34255_seg3 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:391px;
  top:190px;
  width:19px;
  height:18px;
}
<<<<<<< HEAD
#u34290 {
=======
#u34256 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:252px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u34291_div {
=======
#u34257_div {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:166px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
<<<<<<< HEAD
#u34291 {
=======
#u34257 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:351px;
  top:740px;
  width:542px;
  height:166px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
<<<<<<< HEAD
#u34292 {
=======
#u34258 {
  border-width:0px;
>>>>>>> eacd562ed0b6b07114aa4e9bf842b419e9b07642
  position:absolute;
  left:2px;
  top:43px;
  width:538px;
  word-wrap:break-word;
}
