body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1583px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:72px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19361 {
  position:absolute;
  left:0px;
  top:1px;
  width:1350px;
  height:72px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19362 {
  position:absolute;
  left:2px;
  top:28px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 2px 4px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19363 {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19364 {
  position:absolute;
  left:2px;
  top:17px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19365 {
  position:absolute;
  left:318px;
  top:0px;
  width:70px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19365_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19365.mouseOver {
}
#u19365_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19365.selected {
}
#u19366 {
  position:absolute;
  left:2px;
  top:16px;
  width:66px;
  word-wrap:break-word;
}
#u19367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19367 {
  position:absolute;
  left:238px;
  top:0px;
  width:70px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19367_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19367.mouseOver {
}
#u19367_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19367.selected {
}
#u19368 {
  position:absolute;
  left:2px;
  top:16px;
  width:66px;
  word-wrap:break-word;
}
#u19369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19369 {
  position:absolute;
  left:158px;
  top:0px;
  width:70px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19369_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19369.mouseOver {
}
#u19369_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19369.selected {
}
#u19370 {
  position:absolute;
  left:2px;
  top:16px;
  width:66px;
  word-wrap:break-word;
}
#u19371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:5px;
  background:inherit;
  background-color:rgba(17, 139, 251, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19371 {
  position:absolute;
  left:318px;
  top:45px;
  width:70px;
  height:5px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19372 {
  position:absolute;
  left:2px;
  top:-6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:17px;
}
#u19373 {
  position:absolute;
  left:24px;
  top:17px;
  width:18px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19374 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:50px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19375 {
  position:absolute;
  left:1259px;
  top:0px;
  width:59px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19376 {
  position:absolute;
  left:2px;
  top:17px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u19377 {
  position:absolute;
  left:1271px;
  top:10px;
  width:32px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19378 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
  background:inherit;
  background-color:rgba(17, 139, 251, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19379 {
  position:absolute;
  left:1155px;
  top:10px;
  width:71px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19380 {
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u19381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u19381 {
  position:absolute;
  left:42px;
  top:0px;
  width:106px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u19381_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u19381.mouseOver {
}
#u19381_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u19381.selected {
}
#u19382 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u19383_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1354px;
  height:689px;
}
#u19383 {
  position:absolute;
  left:0px;
  top:50px;
  width:1350px;
  height:685px;
}
#u19384 {
  position:absolute;
  left:2px;
  top:334px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:682px;
}
#u19385 {
  position:absolute;
  left:0px;
  top:51px;
  width:164px;
  height:682px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19386 {
  position:absolute;
  left:2px;
  top:333px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19387_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1190px;
  height:686px;
}
#u19387 {
  position:absolute;
  left:164px;
  top:51px;
  width:1186px;
  height:682px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u19388 {
  position:absolute;
  left:2px;
  top:333px;
  width:1182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:673px;
  height:372px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19389 {
  position:absolute;
  left:498px;
  top:307px;
  width:673px;
  height:372px;
}
#u19390 {
  position:absolute;
  left:2px;
  top:178px;
  width:669px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:50px;
}
#u19391 {
  position:absolute;
  left:0px;
  top:357px;
  width:5px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19392 {
  position:absolute;
  left:2px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19393_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:71px;
  height:54px;
}
#u19393 {
  position:absolute;
  left:33px;
  top:57px;
  width:67px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C0C2C3;
  text-align:left;
}
#u19394 {
  position:absolute;
  left:2px;
  top:15px;
  width:63px;
  word-wrap:break-word;
}
#u19395_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:24px;
  height:54px;
}
#u19395 {
  position:absolute;
  left:111px;
  top:57px;
  width:20px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C0C2C3;
  text-align:left;
}
#u19396 {
  position:absolute;
  left:2px;
  top:16px;
  width:16px;
  word-wrap:break-word;
}
#u19397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u19397 {
  position:absolute;
  left:141px;
  top:75px;
  width:16px;
  height:12px;
}
#u19398 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
.u19400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
.u19400 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
.u19401 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
.u19402_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:71px;
  height:54px;
}
.u19402 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C0C2C3;
  text-align:left;
}
.u19403 {
  position:absolute;
  left:2px;
  top:15px;
  width:63px;
  word-wrap:break-word;
}
.u19404_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:51px;
  height:54px;
}
.u19404 {
  position:absolute;
  left:69px;
  top:0px;
  width:47px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C0C2C3;
  text-align:left;
}
.u19405 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  word-wrap:break-word;
}
#u19399-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:50px;
}
#u19399-2 {
  position:absolute;
  left:0px;
  top:50px;
  width:116px;
  height:50px;
}
#u19399-3 {
  position:absolute;
  left:0px;
  top:100px;
  width:116px;
  height:50px;
}
#u19399-4 {
  position:absolute;
  left:0px;
  top:150px;
  width:116px;
  height:50px;
}
#u19399-5 {
  position:absolute;
  left:0px;
  top:200px;
  width:116px;
  height:50px;
}
#u19399 {
  position:absolute;
  left:42px;
  top:107px;
  width:116px;
  height:250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u19406_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:71px;
  height:54px;
}
#u19406 {
  position:absolute;
  left:33px;
  top:357px;
  width:67px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C0C2C3;
  text-align:left;
}
#u19407 {
  position:absolute;
  left:2px;
  top:15px;
  width:63px;
  word-wrap:break-word;
}
#u19408_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:24px;
  height:54px;
}
#u19408 {
  position:absolute;
  left:111px;
  top:357px;
  width:20px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C0C2C3;
  text-align:left;
}
#u19409 {
  position:absolute;
  left:2px;
  top:16px;
  width:16px;
  word-wrap:break-word;
}
#u19410_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:71px;
  height:54px;
}
#u19410 {
  position:absolute;
  left:33px;
  top:407px;
  width:67px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C0C2C3;
  text-align:left;
}
#u19411 {
  position:absolute;
  left:2px;
  top:15px;
  width:63px;
  word-wrap:break-word;
}
#u19412_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:24px;
  height:54px;
}
#u19412 {
  position:absolute;
  left:111px;
  top:407px;
  width:20px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C0C2C3;
  text-align:left;
}
#u19413 {
  position:absolute;
  left:2px;
  top:16px;
  width:16px;
  word-wrap:break-word;
}
#u19414_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:71px;
  height:54px;
}
#u19414 {
  position:absolute;
  left:33px;
  top:457px;
  width:67px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C0C2C3;
  text-align:left;
}
#u19415 {
  position:absolute;
  left:2px;
  top:15px;
  width:63px;
  word-wrap:break-word;
}
#u19416_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:24px;
  height:54px;
}
#u19416 {
  position:absolute;
  left:111px;
  top:457px;
  width:20px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C0C2C3;
  text-align:left;
}
#u19417 {
  position:absolute;
  left:2px;
  top:16px;
  width:16px;
  word-wrap:break-word;
}
#u19418_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1155px;
  height:100px;
}
#u19418 {
  position:absolute;
  left:174px;
  top:91px;
  width:1151px;
  height:96px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u19419 {
  position:absolute;
  left:2px;
  top:40px;
  width:1147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u19420 {
  position:absolute;
  left:174px;
  top:51px;
  width:93px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u19421 {
  position:absolute;
  left:2px;
  top:5px;
  width:89px;
  word-wrap:break-word;
}
#u19422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u19422 {
  position:absolute;
  left:1311px;
  top:67px;
  width:14px;
  height:14px;
}
#u19423 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:30px;
}
#u19424 {
  position:absolute;
  left:395px;
  top:103px;
  width:242px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u19425 {
  position:absolute;
  left:2px;
  top:-5px;
  width:238px;
  word-wrap:break-word;
}
#u19426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u19426 {
  position:absolute;
  left:658px;
  top:106px;
  width:125px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u19427 {
  position:absolute;
  left:2px;
  top:5px;
  width:121px;
  word-wrap:break-word;
}
#u19428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u19428 {
  position:absolute;
  left:809px;
  top:106px;
  width:125px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u19429 {
  position:absolute;
  left:2px;
  top:5px;
  width:121px;
  word-wrap:break-word;
}
#u19430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:30px;
}
#u19430 {
  position:absolute;
  left:782px;
  top:105px;
  width:19px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u19431 {
  position:absolute;
  left:2px;
  top:6px;
  width:15px;
  word-wrap:break-word;
}
#u19432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:30px;
}
#u19432 {
  position:absolute;
  left:395px;
  top:146px;
  width:503px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u19433 {
  position:absolute;
  left:2px;
  top:-5px;
  width:499px;
  word-wrap:break-word;
}
#u19434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
}
#u19434 {
  position:absolute;
  left:296px;
  top:244px;
  width:162px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u19435 {
  position:absolute;
  left:2px;
  top:5px;
  width:158px;
  word-wrap:break-word;
}
#u19436_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:97px;
  height:34px;
}
#u19436 {
  position:absolute;
  left:445px;
  top:244px;
  width:93px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
}
#u19437 {
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  word-wrap:break-word;
}
#u19438_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:97px;
  height:34px;
}
#u19438 {
  position:absolute;
  left:566px;
  top:244px;
  width:93px;
  height:30px;
  font-size:12px;
  color:#666666;
}
#u19438_img.selected {
}
#u19438.selected {
}
#u19439 {
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  word-wrap:break-word;
}
#u19440_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:97px;
  height:34px;
}
#u19440 {
  position:absolute;
  left:685px;
  top:244px;
  width:93px;
  height:30px;
  font-size:12px;
  color:#666666;
}
#u19440_img.selected {
}
#u19440.selected {
}
#u19441 {
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  word-wrap:break-word;
}
#u19442_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:97px;
  height:34px;
}
#u19442 {
  position:absolute;
  left:800px;
  top:244px;
  width:93px;
  height:30px;
  font-size:12px;
  color:#666666;
}
#u19442_img.selected {
}
#u19442.selected {
}
#u19443 {
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  word-wrap:break-word;
}
#u19444_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:97px;
  height:34px;
}
#u19444 {
  position:absolute;
  left:908px;
  top:244px;
  width:93px;
  height:30px;
  font-size:12px;
  color:#666666;
}
#u19444_img.selected {
}
#u19444.selected {
}
#u19445 {
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  word-wrap:break-word;
}
#u19446_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:97px;
  height:34px;
}
#u19446 {
  position:absolute;
  left:1014px;
  top:244px;
  width:93px;
  height:30px;
  font-size:12px;
  color:#666666;
}
#u19446_img.selected {
}
#u19446.selected {
}
#u19447 {
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  word-wrap:break-word;
}
#u19448 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19449_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:119px;
  height:34px;
}
#u19449 {
  position:absolute;
  left:445px;
  top:307px;
  width:115px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:18px;
  text-align:right;
}
#u19450 {
  position:absolute;
  left:2px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u19451 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19452_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:65px;
  height:34px;
}
#u19452 {
  position:absolute;
  left:512px;
  top:535px;
  width:61px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u19453 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u19454 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19455_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:103px;
  height:34px;
}
#u19455 {
  position:absolute;
  left:474px;
  top:353px;
  width:99px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u19456 {
  position:absolute;
  left:2px;
  top:6px;
  width:95px;
  word-wrap:break-word;
}
#u19457 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19458_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:92px;
  height:34px;
}
#u19458 {
  position:absolute;
  left:583px;
  top:353px;
  width:88px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u19459 {
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u19460 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19461_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:26px;
  height:34px;
}
#u19461 {
  position:absolute;
  left:681px;
  top:353px;
  width:22px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u19462 {
  position:absolute;
  left:2px;
  top:8px;
  width:18px;
  word-wrap:break-word;
}
#u19463 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19464_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:554px;
  height:109px;
}
#u19464 {
  position:absolute;
  left:583px;
  top:413px;
  width:550px;
  height:105px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u19465 {
  position:absolute;
  left:2px;
  top:2px;
  width:546px;
  word-wrap:break-word;
}
#u19466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u19466 {
  position:absolute;
  left:1400px;
  top:270px;
  width:183px;
  height:55px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u19467 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u19468 {
  position:absolute;
  left:1492px;
  top:325px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u19468_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:172px;
}
#u19468_seg1 {
  position:absolute;
  left:-321px;
  top:164px;
  width:325px;
  height:8px;
}
#u19468_seg2 {
  position:absolute;
  left:-328px;
  top:158px;
  width:21px;
  height:20px;
}
#u19469 {
  position:absolute;
  left:-126px;
  top:160px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u19470 {
  position:absolute;
  left:640px;
  top:856px;
  width:168px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u19471 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u19472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u19472 {
  position:absolute;
  left:852px;
  top:359px;
  width:237px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u19473 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  white-space:nowrap;
}
#u19474 {
  position:absolute;
  left:808px;
  top:368px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u19474_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:48px;
  height:8px;
}
#u19474_seg1 {
  position:absolute;
  left:30px;
  top:-10px;
  width:21px;
  height:20px;
}
#u19475 {
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u19476 {
  position:absolute;
  left:727px;
  top:457px;
  width:166px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u19477 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u19478 {
  position:absolute;
  left:613px;
  top:274px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u19478_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:28px;
}
#u19478_seg1 {
  position:absolute;
  left:-4px;
  top:20px;
  width:791px;
  height:8px;
}
#u19478_seg2 {
  position:absolute;
  left:773px;
  top:14px;
  width:21px;
  height:20px;
}
#u19479 {
  position:absolute;
  left:332px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19480_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:97px;
  height:34px;
}
#u19480 {
  position:absolute;
  left:1047px;
  top:696px;
  width:93px;
  height:30px;
  font-size:12px;
  color:#666666;
}
#u19480_img.selected {
}
#u19480.selected {
}
#u19481 {
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  word-wrap:break-word;
}
#u19482_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:97px;
  height:34px;
}
#u19482 {
  position:absolute;
  left:1162px;
  top:696px;
  width:93px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
}
#u19482_img.selected {
}
#u19482.selected {
}
#u19483 {
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  word-wrap:break-word;
}
#u19484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u19484 {
  position:absolute;
  left:1297px;
  top:781px;
  width:225px;
  height:55px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u19485 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u19486 {
  position:absolute;
  left:1209px;
  top:726px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u19486_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u19486_seg1 {
  position:absolute;
  left:-4px;
  top:40px;
  width:209px;
  height:8px;
}
#u19486_seg2 {
  position:absolute;
  left:197px;
  top:40px;
  width:8px;
  height:15px;
}
#u19486_seg3 {
  position:absolute;
  left:191px;
  top:41px;
  width:20px;
  height:21px;
}
#u19487 {
  position:absolute;
  left:34px;
  top:36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19488 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19489_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:105px;
  height:34px;
}
#u19489 {
  position:absolute;
  left:707px;
  top:353px;
  width:101px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u19490 {
  position:absolute;
  left:2px;
  top:6px;
  width:97px;
  word-wrap:break-word;
}
#u19491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u19491 {
  position:absolute;
  left:948px;
  top:781px;
  width:155px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u19492 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u19493 {
  position:absolute;
  left:1094px;
  top:726px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u19493_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u19493_seg1 {
  position:absolute;
  left:-72px;
  top:40px;
  width:76px;
  height:8px;
}
#u19493_seg2 {
  position:absolute;
  left:-72px;
  top:40px;
  width:8px;
  height:15px;
}
#u19493_seg3 {
  position:absolute;
  left:-78px;
  top:41px;
  width:20px;
  height:21px;
}
#u19494 {
  position:absolute;
  left:-68px;
  top:36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19495 {
  position:absolute;
  left:317px;
  top:0px;
  width:67px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19496 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19497 {
  position:absolute;
  left:164px;
  top:0px;
  width:67px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19498 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19499_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:65px;
  height:34px;
}
#u19499 {
  position:absolute;
  left:512px;
  top:407px;
  width:61px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u19500 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u19501 {
  position:absolute;
  left:593px;
  top:560px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u19501_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:313px;
}
#u19501_seg1 {
  position:absolute;
  left:-4px;
  top:305px;
  width:51px;
  height:8px;
}
#u19501_seg2 {
  position:absolute;
  left:33px;
  top:299px;
  width:21px;
  height:20px;
}
#u19502 {
  position:absolute;
  left:-50px;
  top:170px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19503 {
  position:absolute;
  left:724px;
  top:882px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u19503_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u19503_seg1 {
  position:absolute;
  left:-4px;
  top:44px;
  width:84px;
  height:8px;
}
#u19503_seg2 {
  position:absolute;
  left:72px;
  top:44px;
  width:8px;
  height:23px;
}
#u19503_seg3 {
  position:absolute;
  left:66px;
  top:53px;
  width:20px;
  height:21px;
}
#u19504 {
  position:absolute;
  left:-26px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19505_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u19505 {
  position:absolute;
  left:583px;
  top:540px;
  width:19px;
  height:20px;
}
#u19506 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:233px;
}
#u19507 {
  position:absolute;
  left:707px;
  top:949px;
  width:186px;
  height:233px;
}
#u19508 {
  position:absolute;
  left:2px;
  top:108px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u19509 {
  position:absolute;
  left:701px;
  top:1192px;
  width:199px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u19510 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  word-wrap:break-word;
}
#u19511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19511 {
  position:absolute;
  left:1350px;
  top:0px;
  width:140px;
  height:40px;
}
#u19512 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
