body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1454px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10664 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10666 {
  position:absolute;
  left:240px;
  top:0px;
}
#u10666_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u10666_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:382px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:1px 1px 2px rgba(204, 204, 204, 1);
  -webkit-box-shadow:1px 1px 2px rgba(204, 204, 204, 1);
  box-shadow:1px 1px 2px rgba(204, 204, 204, 1);
}
#u10667 {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:382px;
}
#u10668 {
  position:absolute;
  left:2px;
  top:183px;
  width:259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10669-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10669-2 {
  position:absolute;
  left:0px;
  top:1px;
  width:0px;
  height:0px;
}
#u10669-3 {
  position:absolute;
  left:0px;
  top:2px;
  width:0px;
  height:0px;
}
#u10669-4 {
  position:absolute;
  left:0px;
  top:3px;
  width:0px;
  height:0px;
}
#u10669 {
  position:absolute;
  left:3px;
  top:40px;
  width:0px;
  height:0px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u10670 {
  position:absolute;
  left:2px;
  top:2px;
}
#u10670_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u10670_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3C58BB;
  text-align:left;
}
#u10671 {
  position:absolute;
  left:0px;
  top:1px;
  width:255px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3C58BB;
  text-align:left;
}
#u10671_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3C58BB;
  text-align:left;
}
#u10671.mouseOver {
}
#u10672 {
  position:absolute;
  left:50px;
  top:11px;
  width:203px;
  word-wrap:break-word;
}
#u10673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u10673 {
  position:absolute;
  left:25px;
  top:14px;
  width:14px;
  height:14px;
}
#u10674 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10670_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u10670_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10675 {
  position:absolute;
  left:5px;
  top:0px;
  width:255px;
  height:40px;
}
#u10676 {
  position:absolute;
  left:2px;
  top:12px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10677 {
  position:absolute;
  left:12px;
  top:8px;
  width:133px;
  height:25px;
}
#u10677_input {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:25px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u10678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 139, 251, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#118BFB;
}
#u10678 {
  position:absolute;
  left:208px;
  top:5px;
  width:45px;
  height:30px;
  color:#118BFB;
}
#u10679 {
  position:absolute;
  left:2px;
  top:6px;
  width:41px;
  word-wrap:break-word;
}
.u10681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:right;
}
.u10681 {
  position:absolute;
  left:132px;
  top:8px;
  width:53px;
  height:28px;
  color:#666666;
  text-align:right;
}
.u10682 {
  position:absolute;
  left:2px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
.u10683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:43px;
}
.u10683 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:42px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:left;
}
.u10683_img.mouseOver {
}
.u10683.mouseOver {
}
.u10683_img.selected {
}
.u10683.selected {
}
.u10684 {
  position:absolute;
  left:10px;
  top:12px;
  width:243px;
  word-wrap:break-word;
}
.u10685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
.u10685 {
  position:absolute;
  left:191px;
  top:14px;
  width:14px;
  height:16px;
}
.u10686 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
.u10687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
.u10687 {
  position:absolute;
  left:214px;
  top:1px;
  width:40px;
  height:40px;
}
.u10688 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10680-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:42px;
}
#u10680-2 {
  position:absolute;
  left:0px;
  top:42px;
  width:255px;
  height:42px;
}
#u10680-3 {
  position:absolute;
  left:0px;
  top:84px;
  width:255px;
  height:42px;
}
#u10680-4 {
  position:absolute;
  left:0px;
  top:126px;
  width:255px;
  height:42px;
}
#u10680-5 {
  position:absolute;
  left:0px;
  top:168px;
  width:255px;
  height:42px;
}
#u10680-6 {
  position:absolute;
  left:0px;
  top:210px;
  width:255px;
  height:42px;
}
#u10680-7 {
  position:absolute;
  left:0px;
  top:252px;
  width:255px;
  height:42px;
}
#u10680 {
  position:absolute;
  left:4px;
  top:84px;
  width:255px;
  height:294px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u10689 {
  position:absolute;
  left:2px;
  top:43px;
}
#u10689_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u10689_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3C58BB;
  text-align:left;
}
#u10690 {
  position:absolute;
  left:0px;
  top:1px;
  width:255px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3C58BB;
  text-align:left;
}
#u10690_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3C58BB;
  text-align:left;
}
#u10690.mouseOver {
}
#u10691 {
  position:absolute;
  left:50px;
  top:11px;
  width:203px;
  word-wrap:break-word;
}
#u10692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u10692 {
  position:absolute;
  left:25px;
  top:14px;
  width:14px;
  height:14px;
}
#u10693 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10689_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u10689_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10694 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:40px;
}
#u10695 {
  position:absolute;
  left:2px;
  top:12px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10696 {
  position:absolute;
  left:7px;
  top:8px;
  width:225px;
  height:25px;
}
#u10696_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u10697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u10697 {
  position:absolute;
  left:232px;
  top:14px;
  width:14px;
  height:14px;
}
#u10698 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10699 {
  position:absolute;
  left:240px;
  top:382px;
}
#u10699_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u10699_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:1px 1px 2px rgba(204, 204, 204, 1);
  -webkit-box-shadow:1px 1px 2px rgba(204, 204, 204, 1);
  box-shadow:1px 1px 2px rgba(204, 204, 204, 1);
}
#u10700 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:127px;
}
#u10701 {
  position:absolute;
  left:2px;
  top:56px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
.u10703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:7px;
}
.u10703 {
  position:absolute;
  left:5px;
  top:12px;
  width:10px;
  height:7px;
}
.u10704 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
.u10705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u10705 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u10705_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u10705.mouseOver {
}
.u10705_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u10705.selected {
}
.u10706 {
  position:absolute;
  left:20px;
  top:6px;
  width:128px;
  word-wrap:break-word;
}
#u10702-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u10702-2 {
  position:absolute;
  left:0px;
  top:30px;
  width:150px;
  height:30px;
}
#u10702-3 {
  position:absolute;
  left:0px;
  top:60px;
  width:150px;
  height:30px;
}
#u10702-4 {
  position:absolute;
  left:0px;
  top:90px;
  width:150px;
  height:30px;
}
#u10702 {
  position:absolute;
  left:4px;
  top:3px;
  width:150px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u10707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10707 {
  position:absolute;
  left:1009px;
  top:0px;
  width:445px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10708 {
  position:absolute;
  left:2px;
  top:2px;
  width:441px;
  word-wrap:break-word;
}
#u10710 {
  position:absolute;
  left:654px;
  top:0px;
}
#u10710_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u10710_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:382px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:1px 1px 2px rgba(204, 204, 204, 1);
  -webkit-box-shadow:1px 1px 2px rgba(204, 204, 204, 1);
  box-shadow:1px 1px 2px rgba(204, 204, 204, 1);
}
#u10711 {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:382px;
}
#u10712 {
  position:absolute;
  left:2px;
  top:183px;
  width:259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10713-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10713-2 {
  position:absolute;
  left:0px;
  top:1px;
  width:0px;
  height:0px;
}
#u10713-3 {
  position:absolute;
  left:0px;
  top:2px;
  width:0px;
  height:0px;
}
#u10713-4 {
  position:absolute;
  left:0px;
  top:3px;
  width:0px;
  height:0px;
}
#u10713 {
  position:absolute;
  left:3px;
  top:40px;
  width:0px;
  height:0px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u10714 {
  position:absolute;
  left:2px;
  top:2px;
}
#u10714_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u10714_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3C58BB;
  text-align:left;
}
#u10715 {
  position:absolute;
  left:0px;
  top:1px;
  width:255px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3C58BB;
  text-align:left;
}
#u10715_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3C58BB;
  text-align:left;
}
#u10715.mouseOver {
}
#u10716 {
  position:absolute;
  left:50px;
  top:11px;
  width:203px;
  word-wrap:break-word;
}
#u10717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u10717 {
  position:absolute;
  left:25px;
  top:14px;
  width:14px;
  height:14px;
}
#u10718 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10714_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u10714_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10719 {
  position:absolute;
  left:5px;
  top:0px;
  width:255px;
  height:40px;
}
#u10720 {
  position:absolute;
  left:2px;
  top:12px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10721 {
  position:absolute;
  left:12px;
  top:8px;
  width:133px;
  height:25px;
}
#u10721_input {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:25px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u10722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 139, 251, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#118BFB;
}
#u10722 {
  position:absolute;
  left:208px;
  top:5px;
  width:45px;
  height:30px;
  color:#118BFB;
}
#u10723 {
  position:absolute;
  left:2px;
  top:6px;
  width:41px;
  word-wrap:break-word;
}
.u10725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:right;
}
.u10725 {
  position:absolute;
  left:132px;
  top:8px;
  width:53px;
  height:28px;
  color:#666666;
  text-align:right;
}
.u10726 {
  position:absolute;
  left:2px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
.u10727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:43px;
}
.u10727 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:42px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:left;
}
.u10727_img.mouseOver {
}
.u10727.mouseOver {
}
.u10727_img.selected {
}
.u10727.selected {
}
.u10728 {
  position:absolute;
  left:10px;
  top:12px;
  width:243px;
  word-wrap:break-word;
}
.u10729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
.u10729 {
  position:absolute;
  left:191px;
  top:14px;
  width:14px;
  height:16px;
}
.u10730 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
.u10731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
.u10731 {
  position:absolute;
  left:214px;
  top:1px;
  width:40px;
  height:40px;
}
.u10732 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10724-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:42px;
}
#u10724-2 {
  position:absolute;
  left:0px;
  top:42px;
  width:255px;
  height:42px;
}
#u10724-3 {
  position:absolute;
  left:0px;
  top:84px;
  width:255px;
  height:42px;
}
#u10724-4 {
  position:absolute;
  left:0px;
  top:126px;
  width:255px;
  height:42px;
}
#u10724-5 {
  position:absolute;
  left:0px;
  top:168px;
  width:255px;
  height:42px;
}
#u10724-6 {
  position:absolute;
  left:0px;
  top:210px;
  width:255px;
  height:42px;
}
#u10724-7 {
  position:absolute;
  left:0px;
  top:252px;
  width:255px;
  height:42px;
}
#u10724 {
  position:absolute;
  left:4px;
  top:84px;
  width:255px;
  height:294px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u10733 {
  position:absolute;
  left:2px;
  top:43px;
}
#u10733_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u10733_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3C58BB;
  text-align:left;
}
#u10734 {
  position:absolute;
  left:0px;
  top:1px;
  width:255px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3C58BB;
  text-align:left;
}
#u10734_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3C58BB;
  text-align:left;
}
#u10734.mouseOver {
}
#u10735 {
  position:absolute;
  left:50px;
  top:11px;
  width:203px;
  word-wrap:break-word;
}
#u10736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u10736 {
  position:absolute;
  left:25px;
  top:14px;
  width:14px;
  height:14px;
}
#u10737 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10733_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u10733_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10738 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:40px;
}
#u10739 {
  position:absolute;
  left:2px;
  top:12px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10740 {
  position:absolute;
  left:7px;
  top:8px;
  width:225px;
  height:25px;
}
#u10740_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u10741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u10741 {
  position:absolute;
  left:232px;
  top:14px;
  width:14px;
  height:14px;
}
#u10742 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10743 {
  position:absolute;
  left:654px;
  top:382px;
}
#u10743_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u10743_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:1px 1px 2px rgba(204, 204, 204, 1);
  -webkit-box-shadow:1px 1px 2px rgba(204, 204, 204, 1);
  box-shadow:1px 1px 2px rgba(204, 204, 204, 1);
}
#u10744 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:127px;
}
#u10745 {
  position:absolute;
  left:2px;
  top:56px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
.u10747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:7px;
}
.u10747 {
  position:absolute;
  left:5px;
  top:12px;
  width:10px;
  height:7px;
}
.u10748 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
.u10749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u10749 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u10749_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u10749.mouseOver {
}
.u10749_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u10749.selected {
}
.u10750 {
  position:absolute;
  left:20px;
  top:6px;
  width:128px;
  word-wrap:break-word;
}
#u10746-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u10746-2 {
  position:absolute;
  left:0px;
  top:30px;
  width:150px;
  height:30px;
}
#u10746-3 {
  position:absolute;
  left:0px;
  top:60px;
  width:150px;
  height:30px;
}
#u10746-4 {
  position:absolute;
  left:0px;
  top:90px;
  width:150px;
  height:30px;
}
#u10746 {
  position:absolute;
  left:4px;
  top:3px;
  width:150px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u10751 {
  position:absolute;
  left:814px;
  top:20px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u10751_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:180px;
  height:8px;
}
#u10751_seg1 {
  position:absolute;
  left:172px;
  top:-4px;
  width:8px;
  height:16px;
}
#u10751_seg2 {
  position:absolute;
  left:172px;
  top:4px;
  width:23px;
  height:8px;
}
#u10751_seg3 {
  position:absolute;
  left:181px;
  top:-2px;
  width:21px;
  height:20px;
}
#u10752 {
  position:absolute;
  left:52px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10753 {
  position:absolute;
  left:789px;
  top:7px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u10754 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u10755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10755 {
  position:absolute;
  left:1009px;
  top:82px;
  width:445px;
  height:82px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10756 {
  position:absolute;
  left:2px;
  top:2px;
  width:441px;
  word-wrap:break-word;
}
#u10757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10757 {
  position:absolute;
  left:811px;
  top:42px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u10758 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u10759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10759 {
  position:absolute;
  left:811px;
  top:88px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u10760 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u10761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10761 {
  position:absolute;
  left:727px;
  top:128px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u10762 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u10763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10763 {
  position:absolute;
  left:778px;
  top:128px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u10764 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u10765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10765 {
  position:absolute;
  left:866px;
  top:128px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u10766 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u10767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10767 {
  position:absolute;
  left:1009px;
  top:183px;
  width:445px;
  height:73px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10768 {
  position:absolute;
  left:2px;
  top:2px;
  width:441px;
  word-wrap:break-word;
}
#u10769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10769 {
  position:absolute;
  left:1009px;
  top:272px;
  width:445px;
  height:108px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10770 {
  position:absolute;
  left:2px;
  top:2px;
  width:441px;
  word-wrap:break-word;
}
#u10771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10771 {
  position:absolute;
  left:1009px;
  top:390px;
  width:445px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10772 {
  position:absolute;
  left:2px;
  top:2px;
  width:441px;
  word-wrap:break-word;
}
#u10773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10773 {
  position:absolute;
  left:1009px;
  top:468px;
  width:445px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10774 {
  position:absolute;
  left:2px;
  top:2px;
  width:441px;
  word-wrap:break-word;
}
#u10775 {
  position:absolute;
  left:836px;
  top:55px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u10775_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:158px;
  height:8px;
}
#u10775_seg1 {
  position:absolute;
  left:150px;
  top:-4px;
  width:8px;
  height:76px;
}
#u10775_seg2 {
  position:absolute;
  left:150px;
  top:64px;
  width:23px;
  height:8px;
}
#u10775_seg3 {
  position:absolute;
  left:159px;
  top:58px;
  width:21px;
  height:20px;
}
#u10776 {
  position:absolute;
  left:70px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10777 {
  position:absolute;
  left:836px;
  top:101px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u10777_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:138px;
  height:8px;
}
#u10777_seg1 {
  position:absolute;
  left:130px;
  top:-4px;
  width:8px;
  height:127px;
}
#u10777_seg2 {
  position:absolute;
  left:130px;
  top:115px;
  width:43px;
  height:8px;
}
#u10777_seg3 {
  position:absolute;
  left:159px;
  top:109px;
  width:21px;
  height:20px;
}
#u10778 {
  position:absolute;
  left:84px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10779 {
  position:absolute;
  left:752px;
  top:141px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u10779_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u10779_seg1 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:193px;
}
#u10779_seg2 {
  position:absolute;
  left:-4px;
  top:181px;
  width:261px;
  height:8px;
}
#u10779_seg3 {
  position:absolute;
  left:243px;
  top:175px;
  width:21px;
  height:20px;
}
#u10780 {
  position:absolute;
  left:-14px;
  top:177px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10781 {
  position:absolute;
  left:803px;
  top:141px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u10781_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:51px;
  height:8px;
}
#u10781_seg1 {
  position:absolute;
  left:43px;
  top:-4px;
  width:8px;
  height:283px;
}
#u10781_seg2 {
  position:absolute;
  left:43px;
  top:271px;
  width:163px;
  height:8px;
}
#u10781_seg3 {
  position:absolute;
  left:192px;
  top:265px;
  width:21px;
  height:20px;
}
#u10782 {
  position:absolute;
  left:-3px;
  top:186px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10783 {
  position:absolute;
  left:891px;
  top:141px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u10783_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:50px;
  height:8px;
}
#u10783_seg1 {
  position:absolute;
  left:42px;
  top:-4px;
  width:8px;
  height:370px;
}
#u10783_seg2 {
  position:absolute;
  left:42px;
  top:358px;
  width:76px;
  height:8px;
}
#u10783_seg3 {
  position:absolute;
  left:104px;
  top:352px;
  width:21px;
  height:20px;
}
#u10784 {
  position:absolute;
  left:-4px;
  top:186px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10785 {
  position:absolute;
  left:892px;
  top:167px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u10786 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u10787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10787 {
  position:absolute;
  left:1009px;
  top:558px;
  width:445px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10788 {
  position:absolute;
  left:2px;
  top:2px;
  width:441px;
  word-wrap:break-word;
}
#u10789 {
  position:absolute;
  left:917px;
  top:180px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u10789_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:40px;
  height:8px;
}
#u10789_seg1 {
  position:absolute;
  left:32px;
  top:-4px;
  width:8px;
  height:413px;
}
#u10789_seg2 {
  position:absolute;
  left:32px;
  top:401px;
  width:60px;
  height:8px;
}
#u10789_seg3 {
  position:absolute;
  left:78px;
  top:395px;
  width:21px;
  height:20px;
}
#u10790 {
  position:absolute;
  left:-14px;
  top:204px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:92px;
}
#u10791 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:91px;
  text-align:left;
  line-height:25px;
}
#u10791_img.mouseOver {
}
#u10791.mouseOver {
}
#u10791_img.selected {
}
#u10791.selected {
}
#u10792 {
  position:absolute;
  left:10px;
  top:10px;
  width:228px;
  word-wrap:break-word;
}
