body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:890px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u25648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u25648 {
  position:absolute;
  left:15px;
  top:8px;
  width:120px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u25649 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u25650 {
  position:absolute;
  left:29px;
  top:43px;
  width:105px;
  height:216px;
}
#u25651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u25651 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u25652 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u25653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u25653 {
  position:absolute;
  left:0px;
  top:31px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25654 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u25655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u25655 {
  position:absolute;
  left:0px;
  top:61px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25656 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u25657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u25657 {
  position:absolute;
  left:0px;
  top:91px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25658 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u25659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u25659 {
  position:absolute;
  left:0px;
  top:121px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25660 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u25661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u25661 {
  position:absolute;
  left:0px;
  top:151px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25662 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u25663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u25663 {
  position:absolute;
  left:0px;
  top:181px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25664 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u25665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u25665 {
  position:absolute;
  left:316px;
  top:8px;
  width:156px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u25666 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u25667 {
  position:absolute;
  left:191px;
  top:43px;
  width:411px;
  height:112px;
}
#u25668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u25668 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u25669 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u25670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:31px;
}
#u25670 {
  position:absolute;
  left:100px;
  top:0px;
  width:306px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25671 {
  position:absolute;
  left:2px;
  top:6px;
  width:302px;
  word-wrap:break-word;
}
#u25672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:76px;
}
#u25672 {
  position:absolute;
  left:0px;
  top:31px;
  width:100px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25673 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u25674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:76px;
}
#u25674 {
  position:absolute;
  left:100px;
  top:31px;
  width:306px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25675 {
  position:absolute;
  left:2px;
  top:29px;
  width:302px;
  word-wrap:break-word;
}
#u25676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u25676 {
  position:absolute;
  left:625px;
  top:86px;
  width:265px;
  height:22px;
  color:#FF0000;
}
#u25677 {
  position:absolute;
  left:2px;
  top:2px;
  width:261px;
  white-space:nowrap;
}
