body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1621px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:44px;
  background:inherit;
  background-color:rgba(83, 89, 100, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6846 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:44px;
  color:#FFFFFF;
}
#u6847 {
  position:absolute;
  left:2px;
  top:13px;
  width:121px;
  word-wrap:break-word;
}
#u6848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:51px;
}
#u6848 {
  position:absolute;
  left:0px;
  top:44px;
  width:125px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#29CD8D;
}
#u6848_img.mouseOver {
}
#u6848.mouseOver {
}
#u6849 {
  position:absolute;
  left:2px;
  top:16px;
  width:121px;
  word-wrap:break-word;
}
#u6850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6850 {
  position:absolute;
  left:1531px;
  top:1364px;
  width:100px;
  height:60px;
}
#u6851 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u6850_ref {
  position:absolute;
  left:1623px;
  top:1414px;
  width:1px;
  height:1px;
}
#u6852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6852 {
  position:absolute;
  left:135px;
  top:57px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u6853 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u6854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:237px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6854 {
  position:absolute;
  left:270px;
  top:244px;
  width:450px;
  height:237px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6855 {
  position:absolute;
  left:2px;
  top:2px;
  width:446px;
  word-wrap:break-word;
}
#u6856 {
  position:absolute;
  left:160px;
  top:70px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u6856_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:62px;
  height:8px;
}
#u6856_seg1 {
  position:absolute;
  left:54px;
  top:-4px;
  width:8px;
  height:301px;
}
#u6856_seg2 {
  position:absolute;
  left:54px;
  top:289px;
  width:56px;
  height:8px;
}
#u6856_seg3 {
  position:absolute;
  left:96px;
  top:283px;
  width:21px;
  height:20px;
}
#u6857 {
  position:absolute;
  left:8px;
  top:136px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6858 {
  position:absolute;
  left:135px;
  top:15px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u6859 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u6860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:219px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6860 {
  position:absolute;
  left:270px;
  top:0px;
  width:450px;
  height:219px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6861 {
  position:absolute;
  left:2px;
  top:2px;
  width:446px;
  word-wrap:break-word;
}
#u6862 {
  position:absolute;
  left:160px;
  top:28px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u6862_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u6862_seg1 {
  position:absolute;
  left:96px;
  top:-4px;
  width:8px;
  height:90px;
}
#u6862_seg2 {
  position:absolute;
  left:96px;
  top:78px;
  width:14px;
  height:8px;
}
#u6862_seg3 {
  position:absolute;
  left:96px;
  top:72px;
  width:21px;
  height:20px;
}
#u6863 {
  position:absolute;
  left:46px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6864 {
  position:absolute;
  left:1332px;
  top:1394px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u6864_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:203px;
  height:8px;
}
#u6864_seg1 {
  position:absolute;
  left:185px;
  top:-10px;
  width:21px;
  height:20px;
}
#u6865 {
  position:absolute;
  left:50px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6866 {
  position:absolute;
  left:-10px;
  top:401px;
}
#u6866_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6866_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:281px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:1px 1px 2px rgba(204, 204, 204, 1);
  -webkit-box-shadow:1px 1px 2px rgba(204, 204, 204, 1);
  box-shadow:1px 1px 2px rgba(204, 204, 204, 1);
}
#u6867 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:281px;
}
#u6868 {
  position:absolute;
  left:2px;
  top:132px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
.u6870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:7px;
}
.u6870 {
  position:absolute;
  left:5px;
  top:12px;
  width:10px;
  height:7px;
}
.u6871 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
.u6872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u6872 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u6872_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u6872.mouseOver {
}
.u6872_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u6872.selected {
}
.u6873 {
  position:absolute;
  left:20px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u6869-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6869-2 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u6869-3 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u6869-4 {
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
}
#u6869-5 {
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:30px;
}
#u6869-6 {
  position:absolute;
  left:0px;
  top:150px;
  width:100px;
  height:30px;
}
#u6869-7 {
  position:absolute;
  left:0px;
  top:180px;
  width:100px;
  height:30px;
}
#u6869-8 {
  position:absolute;
  left:0px;
  top:210px;
  width:100px;
  height:30px;
}
#u6869-9 {
  position:absolute;
  left:0px;
  top:240px;
  width:100px;
  height:30px;
}
#u6869 {
  position:absolute;
  left:5px;
  top:5px;
  width:100px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u6874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:51px;
}
#u6874 {
  position:absolute;
  left:0px;
  top:94px;
  width:125px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u6874_img.mouseOver {
}
#u6874.mouseOver {
}
#u6875 {
  position:absolute;
  left:2px;
  top:16px;
  width:121px;
  word-wrap:break-word;
}
#u6876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:51px;
}
#u6876 {
  position:absolute;
  left:0px;
  top:144px;
  width:125px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u6876_img.mouseOver {
}
#u6876.mouseOver {
}
#u6877 {
  position:absolute;
  left:2px;
  top:16px;
  width:121px;
  word-wrap:break-word;
}
#u6878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:51px;
}
#u6878 {
  position:absolute;
  left:0px;
  top:194px;
  width:125px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u6878_img.mouseOver {
}
#u6878.mouseOver {
}
#u6879 {
  position:absolute;
  left:2px;
  top:16px;
  width:121px;
  word-wrap:break-word;
}
#u6880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:51px;
}
#u6880 {
  position:absolute;
  left:0px;
  top:244px;
  width:125px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1083EE;
}
#u6880_img.mouseOver {
}
#u6880.mouseOver {
}
#u6881 {
  position:absolute;
  left:2px;
  top:16px;
  width:121px;
  word-wrap:break-word;
}
#u6882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6882 {
  position:absolute;
  left:791px;
  top:333px;
  width:100px;
  height:60px;
}
#u6883 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u6882_ref {
  position:absolute;
  left:883px;
  top:383px;
  width:1px;
  height:1px;
}
#u6884 {
  position:absolute;
  left:720px;
  top:363px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u6884_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:75px;
  height:8px;
}
#u6884_seg1 {
  position:absolute;
  left:57px;
  top:-10px;
  width:21px;
  height:20px;
}
#u6885 {
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6886 {
  position:absolute;
  left:783px;
  top:411px;
  width:349px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6887 {
  position:absolute;
  left:2px;
  top:2px;
  width:345px;
  word-wrap:break-word;
}
#u6888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:51px;
}
#u6888 {
  position:absolute;
  left:0px;
  top:294px;
  width:125px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#A1A1A1;
}
#u6888_img.mouseOver {
}
#u6888.mouseOver {
}
#u6889 {
  position:absolute;
  left:2px;
  top:16px;
  width:121px;
  word-wrap:break-word;
}
