body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:986px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10064 {
  position:absolute;
  left:0px;
  top:0px;
}
#u10064_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u10064_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10065_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:246px;
  height:325px;
}
#u10065 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:319px;
}
#u10066 {
  position:absolute;
  left:2px;
  top:155px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:188px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10067 {
  position:absolute;
  left:20px;
  top:67px;
  width:200px;
  height:188px;
}
#u10068 {
  position:absolute;
  left:2px;
  top:86px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10069 {
  position:absolute;
  left:20px;
  top:27px;
  width:200px;
  height:30px;
}
#u10070 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u10071 {
  position:absolute;
  left:31px;
  top:35px;
  width:14px;
  height:14px;
}
#u10072 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10073 {
  position:absolute;
  left:22px;
  top:69px;
  width:196px;
  height:181px;
  overflow:hidden;
}
#u10073_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:181px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u10073_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u10075 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u10076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
.u10076 {
  position:absolute;
  left:24px;
  top:8px;
  width:14px;
  height:14px;
}
.u10077 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
.u10078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
.u10078 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u10078_img.selected {
}
.u10078.selected {
}
.u10079 {
  position:absolute;
  left:44px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
.u10080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:4px;
}
.u10080 {
  position:absolute;
  left:11px;
  top:13px;
  width:8px;
  height:4px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
.u10081 {
  position:absolute;
  left:2px;
  top:-6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10074-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u10074-2 {
  position:absolute;
  left:0px;
  top:30px;
  width:182px;
  height:30px;
}
#u10074-3 {
  position:absolute;
  left:0px;
  top:60px;
  width:182px;
  height:30px;
}
#u10074-4 {
  position:absolute;
  left:0px;
  top:90px;
  width:182px;
  height:30px;
}
#u10074-5 {
  position:absolute;
  left:0px;
  top:120px;
  width:182px;
  height:30px;
}
#u10074-6 {
  position:absolute;
  left:0px;
  top:150px;
  width:182px;
  height:30px;
}
#u10074-7 {
  position:absolute;
  left:0px;
  top:180px;
  width:182px;
  height:30px;
}
#u10074-8 {
  position:absolute;
  left:0px;
  top:210px;
  width:182px;
  height:30px;
}
#u10074 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u10082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10082 {
  position:absolute;
  left:20px;
  top:272px;
  width:56px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10083 {
  position:absolute;
  left:2px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u10084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u10084 {
  position:absolute;
  left:94px;
  top:272px;
  width:56px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u10085 {
  position:absolute;
  left:2px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u10086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10086 {
  position:absolute;
  left:353px;
  top:10px;
  width:300px;
  height:170px;
}
#u10087 {
  position:absolute;
  left:2px;
  top:78px;
  width:296px;
  word-wrap:break-word;
}
#u10088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:959px;
  height:2px;
}
#u10088 {
  position:absolute;
  left:0px;
  top:346px;
  width:958px;
  height:1px;
}
#u10089 {
  position:absolute;
  left:2px;
  top:-8px;
  width:954px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:66px;
}
#u10090 {
  position:absolute;
  left:777px;
  top:10px;
  width:209px;
  height:66px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u10091 {
  position:absolute;
  left:2px;
  top:8px;
  width:205px;
  word-wrap:break-word;
}
#u10092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:66px;
}
#u10092 {
  position:absolute;
  left:777px;
  top:364px;
  width:209px;
  height:66px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u10093 {
  position:absolute;
  left:2px;
  top:8px;
  width:205px;
  word-wrap:break-word;
}
#u10094 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:395px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u10095 {
  position:absolute;
  left:271px;
  top:404px;
  width:715px;
  height:395px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u10096 {
  position:absolute;
  left:2px;
  top:-40px;
  width:711px;
  word-wrap:break-word;
}
#u10097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:318px;
}
#u10097 {
  position:absolute;
  left:0px;
  top:404px;
  width:240px;
  height:318px;
}
#u10098 {
  position:absolute;
  left:2px;
  top:151px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u10099 {
  position:absolute;
  left:51px;
  top:433px;
  width:92px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u10100 {
  position:absolute;
  left:5px;
  top:4px;
  width:85px;
  word-wrap:break-word;
}
#u10101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10101 {
  position:absolute;
  left:121px;
  top:433px;
  width:22px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10101_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10101.mouseOver {
}
#u10102 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
