body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1302px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17861 {
  position:absolute;
  left:0px;
  top:36px;
}
#u17861_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u17861_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17862_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:404px;
  height:469px;
}
#u17862 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:465px;
}
#u17863 {
  position:absolute;
  left:2px;
  top:230px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
.u17865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:7px;
}
.u17865 {
  position:absolute;
  left:21px;
  top:17px;
  width:10px;
  height:7px;
}
.u17866 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
.u17867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:41px;
}
.u17867 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
  text-align:left;
}
.u17867_img.mouseOver {
}
.u17867.mouseOver {
}
.u17867_img.selected {
}
.u17867.selected {
}
.u17868 {
  position:absolute;
  left:40px;
  top:11px;
  width:348px;
  word-wrap:break-word;
}
.u17869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3DD5B0;
  text-align:left;
}
.u17869 {
  position:absolute;
  left:330px;
  top:5px;
  width:60px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3DD5B0;
  text-align:left;
}
.u17870 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u17864-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
}
#u17864-2 {
  position:absolute;
  left:0px;
  top:40px;
  width:390px;
  height:40px;
}
#u17864-3 {
  position:absolute;
  left:0px;
  top:80px;
  width:390px;
  height:40px;
}
#u17864-4 {
  position:absolute;
  left:0px;
  top:120px;
  width:390px;
  height:40px;
}
#u17864-5 {
  position:absolute;
  left:0px;
  top:160px;
  width:390px;
  height:40px;
}
#u17864 {
  position:absolute;
  left:5px;
  top:97px;
  width:390px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u17871 {
  position:absolute;
  left:5px;
  top:15px;
}
#u17871_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u17871_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3C58BB;
  text-align:left;
}
#u17872 {
  position:absolute;
  left:0px;
  top:1px;
  width:390px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3C58BB;
  text-align:left;
}
#u17872_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3C58BB;
  text-align:left;
}
#u17872.mouseOver {
}
#u17873 {
  position:absolute;
  left:50px;
  top:11px;
  width:338px;
  word-wrap:break-word;
}
#u17874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u17874 {
  position:absolute;
  left:25px;
  top:14px;
  width:14px;
  height:14px;
}
#u17875 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17871_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u17871_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17876 {
  position:absolute;
  left:5px;
  top:0px;
  width:380px;
  height:40px;
}
#u17877 {
  position:absolute;
  left:2px;
  top:12px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17878 {
  position:absolute;
  left:12px;
  top:8px;
  width:133px;
  height:25px;
}
#u17878_input {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u17879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 139, 251, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#118BFB;
}
#u17879 {
  position:absolute;
  left:340px;
  top:5px;
  width:45px;
  height:30px;
  color:#118BFB;
}
#u17880 {
  position:absolute;
  left:2px;
  top:6px;
  width:41px;
  word-wrap:break-word;
}
#u17881 {
  position:absolute;
  left:5px;
  top:56px;
}
#u17881_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u17881_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3C58BB;
  text-align:left;
}
#u17882 {
  position:absolute;
  left:0px;
  top:1px;
  width:390px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3C58BB;
  text-align:left;
}
#u17882_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3C58BB;
  text-align:left;
}
#u17882.mouseOver {
}
#u17883 {
  position:absolute;
  left:50px;
  top:11px;
  width:338px;
  word-wrap:break-word;
}
#u17884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u17884 {
  position:absolute;
  left:25px;
  top:14px;
  width:14px;
  height:14px;
}
#u17885 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17881_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u17881_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17886 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
}
#u17887 {
  position:absolute;
  left:2px;
  top:12px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17888 {
  position:absolute;
  left:7px;
  top:8px;
  width:326px;
  height:25px;
}
#u17888_input {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u17889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u17889 {
  position:absolute;
  left:358px;
  top:13px;
  width:15px;
  height:15px;
}
#u17890 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
.u17892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:7px;
}
.u17892 {
  position:absolute;
  left:21px;
  top:17px;
  width:10px;
  height:7px;
}
.u17893 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
.u17894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:41px;
}
.u17894 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
  text-align:left;
}
.u17894_img.mouseOver {
}
.u17894.mouseOver {
}
.u17894_img.selected {
}
.u17894.selected {
}
.u17895 {
  position:absolute;
  left:40px;
  top:11px;
  width:348px;
  word-wrap:break-word;
}
.u17896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.768627450980392);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9933;
}
.u17896 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
  opacity:0;
  color:#FF9933;
}
.u17896_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.768627450980392);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9933;
}
.u17896.mouseOver {
  opacity:1;
}
.u17897 {
  position:absolute;
  left:10px;
  top:11px;
  width:378px;
  word-wrap:break-word;
}
#u17891-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
}
#u17891-2 {
  position:absolute;
  left:0px;
  top:40px;
  width:390px;
  height:40px;
}
#u17891-3 {
  position:absolute;
  left:0px;
  top:80px;
  width:390px;
  height:40px;
}
#u17891-4 {
  position:absolute;
  left:0px;
  top:120px;
  width:390px;
  height:40px;
}
#u17891 {
  position:absolute;
  left:5px;
  top:297px;
  width:390px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u17898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u17898 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u17899 {
  position:absolute;
  left:20px;
  top:9px;
  width:378px;
  word-wrap:break-word;
}
#u17900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:5px;
}
#u17900 {
  position:absolute;
  left:382px;
  top:16px;
  width:8px;
  height:5px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u17901 {
  position:absolute;
  left:2px;
  top:-6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:143px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u17902 {
  position:absolute;
  left:460px;
  top:0px;
  width:473px;
  height:143px;
  text-align:left;
}
#u17903 {
  position:absolute;
  left:10px;
  top:10px;
  width:461px;
  word-wrap:break-word;
}
#u17904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u17904 {
  position:absolute;
  left:188px;
  top:52px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u17905 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u17906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u17906 {
  position:absolute;
  left:188px;
  top:94px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u17907 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u17908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u17908 {
  position:absolute;
  left:188px;
  top:136px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u17909 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u17910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u17910 {
  position:absolute;
  left:460px;
  top:153px;
  width:473px;
  height:95px;
  text-align:left;
}
#u17911 {
  position:absolute;
  left:10px;
  top:10px;
  width:461px;
  word-wrap:break-word;
}
#u17912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u17912 {
  position:absolute;
  left:460px;
  top:258px;
  width:473px;
  height:76px;
  text-align:left;
}
#u17913 {
  position:absolute;
  left:10px;
  top:10px;
  width:461px;
  word-wrap:break-word;
}
#u17914 {
  position:absolute;
  left:213px;
  top:65px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u17914_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:241px;
  height:8px;
}
#u17914_seg1 {
  position:absolute;
  left:233px;
  top:-4px;
  width:8px;
  height:15px;
}
#u17914_seg2 {
  position:absolute;
  left:233px;
  top:3px;
  width:14px;
  height:8px;
}
#u17914_seg3 {
  position:absolute;
  left:233px;
  top:-3px;
  width:21px;
  height:20px;
}
#u17915 {
  position:absolute;
  left:77px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17916 {
  position:absolute;
  left:213px;
  top:107px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u17916_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:223px;
  height:8px;
}
#u17916_seg1 {
  position:absolute;
  left:215px;
  top:-4px;
  width:8px;
  height:102px;
}
#u17916_seg2 {
  position:absolute;
  left:215px;
  top:90px;
  width:32px;
  height:8px;
}
#u17916_seg3 {
  position:absolute;
  left:233px;
  top:84px;
  width:21px;
  height:20px;
}
#u17917 {
  position:absolute;
  left:120px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17918 {
  position:absolute;
  left:213px;
  top:149px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u17918_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:199px;
  height:8px;
}
#u17918_seg1 {
  position:absolute;
  left:191px;
  top:-4px;
  width:8px;
  height:155px;
}
#u17918_seg2 {
  position:absolute;
  left:191px;
  top:143px;
  width:56px;
  height:8px;
}
#u17918_seg3 {
  position:absolute;
  left:233px;
  top:137px;
  width:21px;
  height:20px;
}
#u17919 {
  position:absolute;
  left:145px;
  top:-6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3DD5B0;
  text-align:left;
}
#u17920 {
  position:absolute;
  left:312px;
  top:3px;
  width:60px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3DD5B0;
  text-align:left;
}
#u17921 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u17922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u17922 {
  position:absolute;
  left:188px;
  top:344px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u17923 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u17924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u17924 {
  position:absolute;
  left:312px;
  top:181px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u17925 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u17926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u17926 {
  position:absolute;
  left:460px;
  top:446px;
  width:473px;
  height:109px;
  text-align:left;
}
#u17927 {
  position:absolute;
  left:10px;
  top:10px;
  width:461px;
  word-wrap:break-word;
}
#u17928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u17928 {
  position:absolute;
  left:460px;
  top:344px;
  width:473px;
  height:58px;
  text-align:left;
}
#u17929 {
  position:absolute;
  left:10px;
  top:10px;
  width:461px;
  word-wrap:break-word;
}
#u17930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17930 {
  position:absolute;
  left:1202px;
  top:343px;
  width:100px;
  height:60px;
}
#u17931 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u17930_ref {
  position:absolute;
  left:1294px;
  top:393px;
  width:1px;
  height:1px;
}
#u17932 {
  position:absolute;
  left:933px;
  top:373px;
  width:0px;
  height:0px;
}
#u17932_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:273px;
  height:8px;
}
#u17932_seg1 {
  position:absolute;
  left:255px;
  top:-10px;
  width:21px;
  height:20px;
}
#u17933 {
  position:absolute;
  left:84px;
  top:-18px;
  width:100px;
  word-wrap:break-word;
}
#u17934 {
  position:absolute;
  left:337px;
  top:194px;
  width:0px;
  height:0px;
}
#u17934_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:34px;
  height:8px;
}
#u17934_seg1 {
  position:absolute;
  left:26px;
  top:-4px;
  width:8px;
  height:187px;
}
#u17934_seg2 {
  position:absolute;
  left:26px;
  top:175px;
  width:97px;
  height:8px;
}
#u17934_seg3 {
  position:absolute;
  left:109px;
  top:169px;
  width:21px;
  height:20px;
}
#u17935 {
  position:absolute;
  left:-20px;
  top:113px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17936 {
  position:absolute;
  left:213px;
  top:357px;
  width:0px;
  height:0px;
}
#u17936_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:118px;
  height:8px;
}
#u17936_seg1 {
  position:absolute;
  left:110px;
  top:-4px;
  width:8px;
  height:152px;
}
#u17936_seg2 {
  position:absolute;
  left:110px;
  top:140px;
  width:137px;
  height:8px;
}
#u17936_seg3 {
  position:absolute;
  left:233px;
  top:134px;
  width:21px;
  height:20px;
}
#u17937 {
  position:absolute;
  left:64px;
  top:74px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u17938 {
  position:absolute;
  left:460px;
  top:585px;
  width:473px;
  height:38px;
  text-align:left;
}
#u17939 {
  position:absolute;
  left:10px;
  top:10px;
  width:461px;
  word-wrap:break-word;
}
#u17940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u17940 {
  position:absolute;
  left:188px;
  top:3px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u17941 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u17942 {
  position:absolute;
  left:213px;
  top:16px;
  width:0px;
  height:0px;
}
#u17942_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u17942_seg1 {
  position:absolute;
  left:52px;
  top:-4px;
  width:8px;
  height:596px;
}
#u17942_seg2 {
  position:absolute;
  left:52px;
  top:584px;
  width:195px;
  height:8px;
}
#u17942_seg3 {
  position:absolute;
  left:233px;
  top:578px;
  width:21px;
  height:20px;
}
#u17943 {
  position:absolute;
  left:6px;
  top:354px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17944 {
  position:absolute;
  left:686px;
  top:656px;
  width:100px;
  height:60px;
}
#u17945 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u17944_ref {
  position:absolute;
  left:778px;
  top:706px;
  width:1px;
  height:1px;
}
#u17946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17946 {
  position:absolute;
  left:686px;
  top:726px;
  width:100px;
  height:60px;
}
#u17947 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u17946_ref {
  position:absolute;
  left:778px;
  top:776px;
  width:1px;
  height:1px;
}
#u17948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17948 {
  position:absolute;
  left:686px;
  top:796px;
  width:100px;
  height:60px;
}
#u17949 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u17948_ref {
  position:absolute;
  left:778px;
  top:846px;
  width:1px;
  height:1px;
}
#u17950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u17950 {
  position:absolute;
  left:460px;
  top:737px;
  width:86px;
  height:38px;
  text-align:left;
}
#u17951 {
  position:absolute;
  left:10px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u17952 {
  position:absolute;
  left:546px;
  top:756px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u17952_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:89px;
  height:8px;
}
#u17952_seg1 {
  position:absolute;
  left:81px;
  top:-74px;
  width:8px;
  height:78px;
}
#u17952_seg2 {
  position:absolute;
  left:81px;
  top:-74px;
  width:59px;
  height:8px;
}
#u17952_seg3 {
  position:absolute;
  left:126px;
  top:-80px;
  width:21px;
  height:20px;
}
#u17953 {
  position:absolute;
  left:35px;
  top:-28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17954 {
  position:absolute;
  left:546px;
  top:756px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u17954_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:144px;
  height:8px;
}
#u17954_seg1 {
  position:absolute;
  left:126px;
  top:-10px;
  width:21px;
  height:20px;
}
#u17955 {
  position:absolute;
  left:20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17956 {
  position:absolute;
  left:546px;
  top:756px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u17956_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:89px;
  height:8px;
}
#u17956_seg1 {
  position:absolute;
  left:81px;
  top:-4px;
  width:8px;
  height:78px;
}
#u17956_seg2 {
  position:absolute;
  left:81px;
  top:66px;
  width:59px;
  height:8px;
}
#u17956_seg3 {
  position:absolute;
  left:126px;
  top:60px;
  width:21px;
  height:20px;
}
#u17957 {
  position:absolute;
  left:35px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:50px;
  background:inherit;
  background-color:rgba(61, 213, 176, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u17958 {
  position:absolute;
  left:933px;
  top:3px;
  width:142px;
  height:50px;
  color:#FFFFFF;
}
#u17959 {
  position:absolute;
  left:2px;
  top:8px;
  width:138px;
  word-wrap:break-word;
}
#u17960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:50px;
  background:inherit;
  background-color:rgba(61, 213, 176, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u17960 {
  position:absolute;
  left:933px;
  top:82px;
  width:142px;
  height:50px;
  color:#FFFFFF;
}
#u17961 {
  position:absolute;
  left:2px;
  top:8px;
  width:138px;
  word-wrap:break-word;
}
#u17962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:50px;
  background:inherit;
  background-color:rgba(61, 213, 176, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u17962 {
  position:absolute;
  left:933px;
  top:476px;
  width:142px;
  height:50px;
  color:#FFFFFF;
}
#u17963 {
  position:absolute;
  left:2px;
  top:8px;
  width:138px;
  word-wrap:break-word;
}
