body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1302px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15539 {
  position:absolute;
  left:0px;
  top:36px;
}
#u15539_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u15539_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15540_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:404px;
  height:469px;
}
#u15540 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:465px;
}
#u15541 {
  position:absolute;
  left:2px;
  top:230px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
.u15543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:7px;
}
.u15543 {
  position:absolute;
  left:21px;
  top:17px;
  width:10px;
  height:7px;
}
.u15544 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
.u15545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:41px;
}
.u15545 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
  text-align:left;
}
.u15545_img.mouseOver {
}
.u15545.mouseOver {
}
.u15545_img.selected {
}
.u15545.selected {
}
.u15546 {
  position:absolute;
  left:40px;
  top:11px;
  width:348px;
  word-wrap:break-word;
}
.u15547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3DD5B0;
  text-align:left;
}
.u15547 {
  position:absolute;
  left:330px;
  top:5px;
  width:60px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3DD5B0;
  text-align:left;
}
.u15548 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u15542-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
}
#u15542-2 {
  position:absolute;
  left:0px;
  top:40px;
  width:390px;
  height:40px;
}
#u15542-3 {
  position:absolute;
  left:0px;
  top:80px;
  width:390px;
  height:40px;
}
#u15542-4 {
  position:absolute;
  left:0px;
  top:120px;
  width:390px;
  height:40px;
}
#u15542-5 {
  position:absolute;
  left:0px;
  top:160px;
  width:390px;
  height:40px;
}
#u15542 {
  position:absolute;
  left:5px;
  top:97px;
  width:390px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u15549 {
  position:absolute;
  left:5px;
  top:15px;
}
#u15549_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u15549_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15550_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3C58BB;
  text-align:left;
}
#u15550 {
  position:absolute;
  left:0px;
  top:1px;
  width:390px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3C58BB;
  text-align:left;
}
#u15550_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3C58BB;
  text-align:left;
}
#u15550.mouseOver {
}
#u15551 {
  position:absolute;
  left:50px;
  top:11px;
  width:338px;
  word-wrap:break-word;
}
#u15552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u15552 {
  position:absolute;
  left:25px;
  top:14px;
  width:14px;
  height:14px;
}
#u15553 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15549_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u15549_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15554_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15554 {
  position:absolute;
  left:5px;
  top:0px;
  width:380px;
  height:40px;
}
#u15555 {
  position:absolute;
  left:2px;
  top:12px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15556 {
  position:absolute;
  left:12px;
  top:8px;
  width:133px;
  height:25px;
}
#u15556_input {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u15557_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 139, 251, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#118BFB;
}
#u15557 {
  position:absolute;
  left:340px;
  top:5px;
  width:45px;
  height:30px;
  color:#118BFB;
}
#u15558 {
  position:absolute;
  left:2px;
  top:6px;
  width:41px;
  word-wrap:break-word;
}
#u15559 {
  position:absolute;
  left:5px;
  top:56px;
}
#u15559_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u15559_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15560_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3C58BB;
  text-align:left;
}
#u15560 {
  position:absolute;
  left:0px;
  top:1px;
  width:390px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3C58BB;
  text-align:left;
}
#u15560_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3C58BB;
  text-align:left;
}
#u15560.mouseOver {
}
#u15561 {
  position:absolute;
  left:50px;
  top:11px;
  width:338px;
  word-wrap:break-word;
}
#u15562_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u15562 {
  position:absolute;
  left:25px;
  top:14px;
  width:14px;
  height:14px;
}
#u15563 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15559_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u15559_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15564_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15564 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
}
#u15565 {
  position:absolute;
  left:2px;
  top:12px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15566 {
  position:absolute;
  left:7px;
  top:8px;
  width:326px;
  height:25px;
}
#u15566_input {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u15567_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u15567 {
  position:absolute;
  left:358px;
  top:13px;
  width:15px;
  height:15px;
}
#u15568 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
.u15570_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:7px;
}
.u15570 {
  position:absolute;
  left:21px;
  top:17px;
  width:10px;
  height:7px;
}
.u15571 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
.u15572_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:41px;
}
.u15572 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
  text-align:left;
}
.u15572_img.mouseOver {
}
.u15572.mouseOver {
}
.u15572_img.selected {
}
.u15572.selected {
}
.u15573 {
  position:absolute;
  left:40px;
  top:11px;
  width:348px;
  word-wrap:break-word;
}
.u15574_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.768627450980392);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9933;
}
.u15574 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
  opacity:0;
  color:#FF9933;
}
.u15574_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.768627450980392);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9933;
}
.u15574.mouseOver {
  opacity:1;
}
.u15575 {
  position:absolute;
  left:10px;
  top:11px;
  width:378px;
  word-wrap:break-word;
}
#u15569-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
}
#u15569-2 {
  position:absolute;
  left:0px;
  top:40px;
  width:390px;
  height:40px;
}
#u15569-3 {
  position:absolute;
  left:0px;
  top:80px;
  width:390px;
  height:40px;
}
#u15569-4 {
  position:absolute;
  left:0px;
  top:120px;
  width:390px;
  height:40px;
}
#u15569 {
  position:absolute;
  left:5px;
  top:297px;
  width:390px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u15576_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u15576 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u15577 {
  position:absolute;
  left:20px;
  top:9px;
  width:378px;
  word-wrap:break-word;
}
#u15578_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:5px;
}
#u15578 {
  position:absolute;
  left:382px;
  top:16px;
  width:8px;
  height:5px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u15579 {
  position:absolute;
  left:2px;
  top:-6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15580_div {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:143px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15580 {
  position:absolute;
  left:460px;
  top:0px;
  width:473px;
  height:143px;
  text-align:left;
}
#u15581 {
  position:absolute;
  left:10px;
  top:10px;
  width:461px;
  word-wrap:break-word;
}
#u15582_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u15582 {
  position:absolute;
  left:188px;
  top:52px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u15583 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u15584_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u15584 {
  position:absolute;
  left:188px;
  top:94px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u15585 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u15586_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u15586 {
  position:absolute;
  left:188px;
  top:136px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u15587 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u15588_div {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15588 {
  position:absolute;
  left:460px;
  top:153px;
  width:473px;
  height:95px;
  text-align:left;
}
#u15589 {
  position:absolute;
  left:10px;
  top:10px;
  width:461px;
  word-wrap:break-word;
}
#u15590_div {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15590 {
  position:absolute;
  left:460px;
  top:258px;
  width:473px;
  height:76px;
  text-align:left;
}
#u15591 {
  position:absolute;
  left:10px;
  top:10px;
  width:461px;
  word-wrap:break-word;
}
#u15592 {
  position:absolute;
  left:213px;
  top:65px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u15592_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:241px;
  height:8px;
}
#u15592_seg1 {
  position:absolute;
  left:233px;
  top:-4px;
  width:8px;
  height:15px;
}
#u15592_seg2 {
  position:absolute;
  left:233px;
  top:3px;
  width:14px;
  height:8px;
}
#u15592_seg3 {
  position:absolute;
  left:233px;
  top:-3px;
  width:21px;
  height:20px;
}
#u15593 {
  position:absolute;
  left:77px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15594 {
  position:absolute;
  left:213px;
  top:107px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u15594_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:223px;
  height:8px;
}
#u15594_seg1 {
  position:absolute;
  left:215px;
  top:-4px;
  width:8px;
  height:102px;
}
#u15594_seg2 {
  position:absolute;
  left:215px;
  top:90px;
  width:32px;
  height:8px;
}
#u15594_seg3 {
  position:absolute;
  left:233px;
  top:84px;
  width:21px;
  height:20px;
}
#u15595 {
  position:absolute;
  left:120px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15596 {
  position:absolute;
  left:213px;
  top:149px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u15596_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:199px;
  height:8px;
}
#u15596_seg1 {
  position:absolute;
  left:191px;
  top:-4px;
  width:8px;
  height:155px;
}
#u15596_seg2 {
  position:absolute;
  left:191px;
  top:143px;
  width:56px;
  height:8px;
}
#u15596_seg3 {
  position:absolute;
  left:233px;
  top:137px;
  width:21px;
  height:20px;
}
#u15597 {
  position:absolute;
  left:145px;
  top:-6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15598_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3DD5B0;
  text-align:left;
}
#u15598 {
  position:absolute;
  left:312px;
  top:3px;
  width:60px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3DD5B0;
  text-align:left;
}
#u15599 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u15600_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u15600 {
  position:absolute;
  left:188px;
  top:344px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u15601 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u15602_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u15602 {
  position:absolute;
  left:312px;
  top:181px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u15603 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u15604_div {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15604 {
  position:absolute;
  left:460px;
  top:446px;
  width:473px;
  height:109px;
  text-align:left;
}
#u15605 {
  position:absolute;
  left:10px;
  top:10px;
  width:461px;
  word-wrap:break-word;
}
#u15606_div {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15606 {
  position:absolute;
  left:460px;
  top:344px;
  width:473px;
  height:58px;
  text-align:left;
}
#u15607 {
  position:absolute;
  left:10px;
  top:10px;
  width:461px;
  word-wrap:break-word;
}
#u15608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15608 {
  position:absolute;
  left:1202px;
  top:343px;
  width:100px;
  height:60px;
}
#u15609 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u15608_ref {
  position:absolute;
  left:1294px;
  top:393px;
  width:1px;
  height:1px;
}
#u15610 {
  position:absolute;
  left:933px;
  top:373px;
  width:0px;
  height:0px;
}
#u15610_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:273px;
  height:8px;
}
#u15610_seg1 {
  position:absolute;
  left:255px;
  top:-10px;
  width:21px;
  height:20px;
}
#u15611 {
  position:absolute;
  left:84px;
  top:-18px;
  width:100px;
  word-wrap:break-word;
}
#u15612 {
  position:absolute;
  left:337px;
  top:194px;
  width:0px;
  height:0px;
}
#u15612_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:34px;
  height:8px;
}
#u15612_seg1 {
  position:absolute;
  left:26px;
  top:-4px;
  width:8px;
  height:187px;
}
#u15612_seg2 {
  position:absolute;
  left:26px;
  top:175px;
  width:97px;
  height:8px;
}
#u15612_seg3 {
  position:absolute;
  left:109px;
  top:169px;
  width:21px;
  height:20px;
}
#u15613 {
  position:absolute;
  left:-20px;
  top:113px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15614 {
  position:absolute;
  left:213px;
  top:357px;
  width:0px;
  height:0px;
}
#u15614_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:118px;
  height:8px;
}
#u15614_seg1 {
  position:absolute;
  left:110px;
  top:-4px;
  width:8px;
  height:152px;
}
#u15614_seg2 {
  position:absolute;
  left:110px;
  top:140px;
  width:137px;
  height:8px;
}
#u15614_seg3 {
  position:absolute;
  left:233px;
  top:134px;
  width:21px;
  height:20px;
}
#u15615 {
  position:absolute;
  left:64px;
  top:74px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15616 {
  position:absolute;
  left:460px;
  top:585px;
  width:473px;
  height:38px;
  text-align:left;
}
#u15617 {
  position:absolute;
  left:10px;
  top:10px;
  width:461px;
  word-wrap:break-word;
}
#u15618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u15618 {
  position:absolute;
  left:188px;
  top:3px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u15619 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u15620 {
  position:absolute;
  left:213px;
  top:16px;
  width:0px;
  height:0px;
}
#u15620_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u15620_seg1 {
  position:absolute;
  left:52px;
  top:-4px;
  width:8px;
  height:596px;
}
#u15620_seg2 {
  position:absolute;
  left:52px;
  top:584px;
  width:195px;
  height:8px;
}
#u15620_seg3 {
  position:absolute;
  left:233px;
  top:578px;
  width:21px;
  height:20px;
}
#u15621 {
  position:absolute;
  left:6px;
  top:354px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15622 {
  position:absolute;
  left:686px;
  top:656px;
  width:100px;
  height:60px;
}
#u15623 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u15622_ref {
  position:absolute;
  left:778px;
  top:706px;
  width:1px;
  height:1px;
}
#u15624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15624 {
  position:absolute;
  left:686px;
  top:726px;
  width:100px;
  height:60px;
}
#u15625 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u15624_ref {
  position:absolute;
  left:778px;
  top:776px;
  width:1px;
  height:1px;
}
#u15626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15626 {
  position:absolute;
  left:686px;
  top:796px;
  width:100px;
  height:60px;
}
#u15627 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u15626_ref {
  position:absolute;
  left:778px;
  top:846px;
  width:1px;
  height:1px;
}
#u15628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15628 {
  position:absolute;
  left:460px;
  top:737px;
  width:86px;
  height:38px;
  text-align:left;
}
#u15629 {
  position:absolute;
  left:10px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u15630 {
  position:absolute;
  left:546px;
  top:756px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u15630_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:89px;
  height:8px;
}
#u15630_seg1 {
  position:absolute;
  left:81px;
  top:-74px;
  width:8px;
  height:78px;
}
#u15630_seg2 {
  position:absolute;
  left:81px;
  top:-74px;
  width:59px;
  height:8px;
}
#u15630_seg3 {
  position:absolute;
  left:126px;
  top:-80px;
  width:21px;
  height:20px;
}
#u15631 {
  position:absolute;
  left:35px;
  top:-28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15632 {
  position:absolute;
  left:546px;
  top:756px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u15632_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:144px;
  height:8px;
}
#u15632_seg1 {
  position:absolute;
  left:126px;
  top:-10px;
  width:21px;
  height:20px;
}
#u15633 {
  position:absolute;
  left:20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15634 {
  position:absolute;
  left:546px;
  top:756px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u15634_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:89px;
  height:8px;
}
#u15634_seg1 {
  position:absolute;
  left:81px;
  top:-4px;
  width:8px;
  height:78px;
}
#u15634_seg2 {
  position:absolute;
  left:81px;
  top:66px;
  width:59px;
  height:8px;
}
#u15634_seg3 {
  position:absolute;
  left:126px;
  top:60px;
  width:21px;
  height:20px;
}
#u15635 {
  position:absolute;
  left:35px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:50px;
  background:inherit;
  background-color:rgba(61, 213, 176, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u15636 {
  position:absolute;
  left:933px;
  top:3px;
  width:142px;
  height:50px;
  color:#FFFFFF;
}
#u15637 {
  position:absolute;
  left:2px;
  top:8px;
  width:138px;
  word-wrap:break-word;
}
#u15638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:50px;
  background:inherit;
  background-color:rgba(61, 213, 176, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u15638 {
  position:absolute;
  left:933px;
  top:82px;
  width:142px;
  height:50px;
  color:#FFFFFF;
}
#u15639 {
  position:absolute;
  left:2px;
  top:8px;
  width:138px;
  word-wrap:break-word;
}
#u15640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:50px;
  background:inherit;
  background-color:rgba(61, 213, 176, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u15640 {
  position:absolute;
  left:933px;
  top:476px;
  width:142px;
  height:50px;
  color:#FFFFFF;
}
#u15641 {
  position:absolute;
  left:2px;
  top:8px;
  width:138px;
  word-wrap:break-word;
}
