body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1314px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:740px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10159 {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:740px;
}
#u10160 {
  position:absolute;
  left:2px;
  top:362px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u10161 {
  position:absolute;
  left:10px;
  top:10px;
  width:14px;
  height:14px;
}
#u10162 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
.u10165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u10165 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:45px;
  text-align:left;
}
.u10165_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:45px;
  background:inherit;
  background-color:rgba(231, 243, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u10165.mouseOver {
}
.u10166 {
  position:absolute;
  left:60px;
  top:14px;
  width:220px;
  word-wrap:break-word;
}
.u10167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
.u10167 {
  position:absolute;
  left:5px;
  top:5px;
  width:35px;
  height:35px;
  font-size:18px;
  color:#FFFFFF;
}
.u10168 {
  position:absolute;
  left:2px;
  top:5px;
  width:31px;
  word-wrap:break-word;
}
.u10169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
.u10169 {
  position:absolute;
  left:301px;
  top:15px;
  width:14px;
  height:16px;
}
.u10170 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10164-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:45px;
}
#u10164-2 {
  position:absolute;
  left:0px;
  top:45px;
  width:315px;
  height:45px;
}
#u10164-3 {
  position:absolute;
  left:0px;
  top:90px;
  width:315px;
  height:45px;
}
#u10164 {
  position:absolute;
  left:42px;
  top:267px;
  width:315px;
  height:135px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u10171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u10171 {
  position:absolute;
  left:42px;
  top:222px;
  width:69px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u10172 {
  position:absolute;
  left:2px;
  top:14px;
  width:65px;
  word-wrap:break-word;
}
#u10173 {
  position:absolute;
  left:42px;
  top:122px;
  width:100px;
  height:18px;
}
#u10174 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u10173_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10175 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10176 {
  position:absolute;
  left:42px;
  top:182px;
  width:315px;
  height:40px;
}
#u10177 {
  position:absolute;
  left:2px;
  top:12px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10178 {
  position:absolute;
  left:54px;
  top:190px;
  width:238px;
  height:25px;
}
#u10178_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:25px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u10179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 139, 251, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#118BFB;
}
#u10179 {
  position:absolute;
  left:302px;
  top:187px;
  width:45px;
  height:30px;
  color:#118BFB;
}
#u10180 {
  position:absolute;
  left:2px;
  top:6px;
  width:41px;
  word-wrap:break-word;
}
#u10181 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 139, 251, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10182 {
  position:absolute;
  left:77px;
  top:22px;
  width:244px;
  height:45px;
}
#u10183 {
  position:absolute;
  left:2px;
  top:14px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10184 {
  position:absolute;
  left:96px;
  top:32px;
  width:212px;
  height:25px;
}
#u10184_input {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u10185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:15px;
}
#u10185 {
  position:absolute;
  left:349px;
  top:37px;
  width:18px;
  height:15px;
}
#u10185_img.mouseOver {
  left:-5px;
  top:-5px;
  width:28px;
  height:25px;
}
#u10185.mouseOver {
}
#u10186 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u10187 {
  position:absolute;
  left:383px;
  top:38px;
  width:14px;
  height:14px;
}
#u10188 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10189 {
  position:absolute;
  left:77px;
  top:22px;
  width:320px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10189_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
  background:inherit;
  background-color:rgba(231, 243, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10189.mouseOver {
}
#u10190 {
  position:absolute;
  left:20px;
  top:12px;
  width:298px;
  word-wrap:break-word;
}
#u10191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u10191 {
  position:absolute;
  left:393px;
  top:96px;
  width:100px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u10192 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u10193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10193 {
  position:absolute;
  left:1214px;
  top:136px;
  width:100px;
  height:60px;
}
#u10194 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u10193_ref {
  position:absolute;
  left:1306px;
  top:186px;
  width:1px;
  height:1px;
}
#u10195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10195 {
  position:absolute;
  left:397px;
  top:33px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u10196 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u10197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10197 {
  position:absolute;
  left:672px;
  top:0px;
  width:445px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10198 {
  position:absolute;
  left:2px;
  top:13px;
  width:441px;
  word-wrap:break-word;
}
#u10199 {
  position:absolute;
  left:422px;
  top:46px;
  width:0px;
  height:0px;
  color:#000000;
}
#u10199_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:242px;
  height:8px;
}
#u10199_seg1 {
  position:absolute;
  left:234px;
  top:-10px;
  width:8px;
  height:14px;
}
#u10199_seg2 {
  position:absolute;
  left:234px;
  top:-10px;
  width:16px;
  height:8px;
}
#u10199_seg3 {
  position:absolute;
  left:236px;
  top:-16px;
  width:21px;
  height:20px;
}
#u10200 {
  position:absolute;
  left:78px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10201 {
  position:absolute;
  left:60px;
  top:91px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u10202 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u10203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10203 {
  position:absolute;
  left:360px;
  top:91px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u10204 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u10205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10205 {
  position:absolute;
  left:225px;
  top:159px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u10206 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u10207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10207 {
  position:absolute;
  left:314px;
  top:159px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u10208 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u10209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10209 {
  position:absolute;
  left:114px;
  top:231px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u10210 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u10211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10211 {
  position:absolute;
  left:242px;
  top:273px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u10212 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u10213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10213 {
  position:absolute;
  left:360px;
  top:273px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u10214 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u10215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10215 {
  position:absolute;
  left:672px;
  top:116px;
  width:445px;
  height:99px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10216 {
  position:absolute;
  left:2px;
  top:6px;
  width:441px;
  word-wrap:break-word;
}
#u10217 {
  position:absolute;
  left:1117px;
  top:166px;
  width:0px;
  height:0px;
  color:#000000;
}
#u10217_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:101px;
  height:8px;
}
#u10217_seg1 {
  position:absolute;
  left:83px;
  top:-10px;
  width:21px;
  height:20px;
}
#u10218 {
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10219 {
  position:absolute;
  left:672px;
  top:254px;
  width:445px;
  height:99px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10220 {
  position:absolute;
  left:2px;
  top:4px;
  width:441px;
  word-wrap:break-word;
}
#u10221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10221 {
  position:absolute;
  left:672px;
  top:381px;
  width:445px;
  height:63px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10222 {
  position:absolute;
  left:2px;
  top:4px;
  width:441px;
  word-wrap:break-word;
}
#u10223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10223 {
  position:absolute;
  left:672px;
  top:471px;
  width:445px;
  height:63px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10224 {
  position:absolute;
  left:2px;
  top:4px;
  width:441px;
  word-wrap:break-word;
}
#u10225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10225 {
  position:absolute;
  left:672px;
  top:567px;
  width:445px;
  height:63px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10226 {
  position:absolute;
  left:2px;
  top:22px;
  width:441px;
  word-wrap:break-word;
}
#u10227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10227 {
  position:absolute;
  left:672px;
  top:663px;
  width:445px;
  height:63px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10228 {
  position:absolute;
  left:2px;
  top:14px;
  width:441px;
  word-wrap:break-word;
}
#u10229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10229 {
  position:absolute;
  left:672px;
  top:751px;
  width:445px;
  height:93px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10230 {
  position:absolute;
  left:2px;
  top:2px;
  width:441px;
  word-wrap:break-word;
}
#u10231 {
  position:absolute;
  left:85px;
  top:104px;
  width:0px;
  height:0px;
  color:#000000;
}
#u10231_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:269px;
  height:8px;
}
#u10231_seg1 {
  position:absolute;
  left:261px;
  top:-4px;
  width:8px;
  height:70px;
}
#u10231_seg2 {
  position:absolute;
  left:261px;
  top:58px;
  width:326px;
  height:8px;
}
#u10231_seg3 {
  position:absolute;
  left:573px;
  top:52px;
  width:21px;
  height:20px;
}
#u10232 {
  position:absolute;
  left:215px;
  top:52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10233 {
  position:absolute;
  left:385px;
  top:104px;
  width:0px;
  height:0px;
  color:#000000;
}
#u10233_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:217px;
  height:8px;
}
#u10233_seg1 {
  position:absolute;
  left:209px;
  top:-4px;
  width:8px;
  height:208px;
}
#u10233_seg2 {
  position:absolute;
  left:209px;
  top:196px;
  width:78px;
  height:8px;
}
#u10233_seg3 {
  position:absolute;
  left:273px;
  top:190px;
  width:21px;
  height:20px;
}
#u10234 {
  position:absolute;
  left:163px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10235 {
  position:absolute;
  left:250px;
  top:172px;
  width:0px;
  height:0px;
  color:#000000;
}
#u10235_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u10235_seg1 {
  position:absolute;
  left:46px;
  top:-4px;
  width:8px;
  height:249px;
}
#u10235_seg2 {
  position:absolute;
  left:46px;
  top:237px;
  width:376px;
  height:8px;
}
#u10235_seg3 {
  position:absolute;
  left:408px;
  top:231px;
  width:21px;
  height:20px;
}
#u10236 {
  position:absolute;
  left:40px;
  top:233px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10237 {
  position:absolute;
  left:339px;
  top:172px;
  width:0px;
  height:0px;
  color:#000000;
}
#u10237_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u10237_seg1 {
  position:absolute;
  left:70px;
  top:-4px;
  width:8px;
  height:339px;
}
#u10237_seg2 {
  position:absolute;
  left:70px;
  top:327px;
  width:263px;
  height:8px;
}
#u10237_seg3 {
  position:absolute;
  left:319px;
  top:321px;
  width:21px;
  height:20px;
}
#u10238 {
  position:absolute;
  left:24px;
  top:250px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10239 {
  position:absolute;
  left:139px;
  top:244px;
  width:0px;
  height:0px;
  color:#000000;
}
#u10239_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:337px;
  height:8px;
}
#u10239_seg1 {
  position:absolute;
  left:329px;
  top:-4px;
  width:8px;
  height:363px;
}
#u10239_seg2 {
  position:absolute;
  left:329px;
  top:351px;
  width:204px;
  height:8px;
}
#u10239_seg3 {
  position:absolute;
  left:519px;
  top:345px;
  width:21px;
  height:20px;
}
#u10240 {
  position:absolute;
  left:283px;
  top:103px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10241 {
  position:absolute;
  left:267px;
  top:286px;
  width:0px;
  height:0px;
  color:#000000;
}
#u10241_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:87px;
  height:8px;
}
#u10241_seg1 {
  position:absolute;
  left:79px;
  top:-4px;
  width:8px;
  height:417px;
}
#u10241_seg2 {
  position:absolute;
  left:79px;
  top:405px;
  width:326px;
  height:8px;
}
#u10241_seg3 {
  position:absolute;
  left:391px;
  top:399px;
  width:21px;
  height:20px;
}
#u10242 {
  position:absolute;
  left:33px;
  top:316px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10243 {
  position:absolute;
  left:385px;
  top:286px;
  width:0px;
  height:0px;
  color:#000000;
}
#u10243_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:184px;
  height:8px;
}
#u10243_seg1 {
  position:absolute;
  left:176px;
  top:-4px;
  width:8px;
  height:520px;
}
#u10243_seg2 {
  position:absolute;
  left:176px;
  top:508px;
  width:111px;
  height:8px;
}
#u10243_seg3 {
  position:absolute;
  left:273px;
  top:502px;
  width:21px;
  height:20px;
}
#u10244 {
  position:absolute;
  left:130px;
  top:212px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
