body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:958px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:930px;
}
#u7337 {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:930px;
}
#u7338 {
  position:absolute;
  left:2px;
  top:457px;
  width:571px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u7339 {
  position:absolute;
  left:126px;
  top:164px;
  width:320px;
  height:568px;
}
#u7340 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:504px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7341 {
  position:absolute;
  left:126px;
  top:228px;
  width:320px;
  height:504px;
}
#u7342 {
  position:absolute;
  left:2px;
  top:244px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7343 {
  position:absolute;
  left:126px;
  top:185px;
  width:100px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7344 {
  position:absolute;
  left:126px;
  top:228px;
  width:320px;
  height:505px;
  overflow:hidden;
}
#u7344_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:505px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u7344_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:254px;
}
#u7345 {
  position:absolute;
  left:0px;
  top:251px;
  width:320px;
  height:254px;
}
#u7346 {
  position:absolute;
  left:2px;
  top:119px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
  background:inherit;
  background-color:rgba(16, 131, 238, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7347 {
  position:absolute;
  left:244px;
  top:463px;
  width:70px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7348 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u7349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:37px;
  background:inherit;
  background-color:rgba(16, 131, 238, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7349 {
  position:absolute;
  left:29px;
  top:204px;
  width:263px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7350 {
  position:absolute;
  left:2px;
  top:10px;
  width:259px;
  word-wrap:break-word;
}
#u7351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:51px;
}
#u7351 {
  position:absolute;
  left:0px;
  top:30px;
  width:320px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  text-align:left;
}
#u7352 {
  position:absolute;
  left:60px;
  top:16px;
  width:258px;
  word-wrap:break-word;
}
#u7353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u7353 {
  position:absolute;
  left:10px;
  top:10px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u7354 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7355 {
  position:absolute;
  left:10px;
  top:40px;
  width:30px;
  height:30px;
}
#u7356 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u7357 {
  position:absolute;
  left:10px;
  top:84px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u7358 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:85px;
}
#u7359 {
  position:absolute;
  left:0px;
  top:104px;
  width:320px;
  height:84px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  text-align:left;
}
#u7360 {
  position:absolute;
  left:60px;
  top:34px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7361 {
  position:absolute;
  left:10px;
  top:114px;
  width:300px;
  height:64px;
}
#u7361_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
  background-color:transparent;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u7362 {
  position:absolute;
  left:386px;
  top:272px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u7363 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u7364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u7364 {
  position:absolute;
  left:585px;
  top:125px;
  width:373px;
  height:80px;
  text-align:left;
}
#u7365 {
  position:absolute;
  left:10px;
  top:13px;
  width:361px;
  word-wrap:break-word;
}
#u7366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u7366 {
  position:absolute;
  left:585px;
  top:228px;
  width:373px;
  height:80px;
  text-align:left;
}
#u7367 {
  position:absolute;
  left:10px;
  top:13px;
  width:361px;
  word-wrap:break-word;
}
#u7368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u7368 {
  position:absolute;
  left:386px;
  top:351px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u7369 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u7370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u7370 {
  position:absolute;
  left:386px;
  top:436px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u7371 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u7372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u7372 {
  position:absolute;
  left:585px;
  top:335px;
  width:373px;
  height:80px;
  text-align:left;
}
#u7373 {
  position:absolute;
  left:10px;
  top:4px;
  width:361px;
  word-wrap:break-word;
}
