body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2453px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:735px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6814 {
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:735px;
}
#u6815 {
  position:absolute;
  left:2px;
  top:360px;
  width:519px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6817-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6817-2 {
  position:absolute;
  left:0px;
  top:1px;
  width:0px;
  height:0px;
}
#u6817-3 {
  position:absolute;
  left:0px;
  top:2px;
  width:0px;
  height:0px;
}
#u6817-4 {
  position:absolute;
  left:0px;
  top:3px;
  width:0px;
  height:0px;
}
#u6817 {
  position:absolute;
  left:23px;
  top:80px;
  width:0px;
  height:0px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u6818 {
  position:absolute;
  left:20px;
  top:40px;
}
#u6818_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6818_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3C58BB;
  text-align:left;
}
#u6819 {
  position:absolute;
  left:0px;
  top:1px;
  width:189px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3C58BB;
  text-align:left;
}
#u6819_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3C58BB;
  text-align:left;
}
#u6819.mouseOver {
}
#u6820 {
  position:absolute;
  left:50px;
  top:11px;
  width:137px;
  word-wrap:break-word;
}
#u6821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u6821 {
  position:absolute;
  left:25px;
  top:14px;
  width:14px;
  height:14px;
}
#u6822 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6818_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u6818_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6823 {
  position:absolute;
  left:5px;
  top:0px;
  width:184px;
  height:40px;
}
#u6824 {
  position:absolute;
  left:2px;
  top:12px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6825 {
  position:absolute;
  left:12px;
  top:8px;
  width:133px;
  height:25px;
}
#u6825_input {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 139, 251, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#118BFB;
}
#u6826 {
  position:absolute;
  left:144px;
  top:5px;
  width:45px;
  height:30px;
  color:#118BFB;
}
#u6827 {
  position:absolute;
  left:2px;
  top:6px;
  width:41px;
  word-wrap:break-word;
}
.u6829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u6829 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:50px;
  text-align:left;
}
.u6829_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u6829.mouseOver {
}
.u6829_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u6829.selected {
}
.u6830 {
  position:absolute;
  left:20px;
  top:16px;
  width:167px;
  word-wrap:break-word;
}
#u6828-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:50px;
}
#u6828-2 {
  position:absolute;
  left:0px;
  top:50px;
  width:189px;
  height:50px;
}
#u6828-3 {
  position:absolute;
  left:0px;
  top:100px;
  width:189px;
  height:50px;
}
#u6828-4 {
  position:absolute;
  left:0px;
  top:150px;
  width:189px;
  height:50px;
}
#u6828-5 {
  position:absolute;
  left:0px;
  top:200px;
  width:189px;
  height:50px;
}
#u6828 {
  position:absolute;
  left:22px;
  top:95px;
  width:189px;
  height:250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u6831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:338px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6831 {
  position:absolute;
  left:223px;
  top:190px;
  width:256px;
  height:338px;
}
#u6832 {
  position:absolute;
  left:2px;
  top:161px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6833 {
  position:absolute;
  left:223px;
  top:150px;
  width:256px;
  height:30px;
}
#u6834 {
  position:absolute;
  left:2px;
  top:7px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u6835 {
  position:absolute;
  left:234px;
  top:158px;
  width:14px;
  height:14px;
}
#u6836 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6837 {
  position:absolute;
  left:227px;
  top:194px;
  width:244px;
  height:319px;
  overflow:hidden;
}
#u6837_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:319px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u6837_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u6839 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u6840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
.u6840 {
  position:absolute;
  left:24px;
  top:8px;
  width:14px;
  height:14px;
}
.u6841 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
.u6842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
.u6842 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u6842_img.selected {
}
.u6842.selected {
}
.u6843 {
  position:absolute;
  left:44px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
.u6844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:4px;
}
.u6844 {
  position:absolute;
  left:11px;
  top:13px;
  width:8px;
  height:4px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
.u6845 {
  position:absolute;
  left:2px;
  top:-6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6838-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u6838-2 {
  position:absolute;
  left:0px;
  top:30px;
  width:182px;
  height:30px;
}
#u6838-3 {
  position:absolute;
  left:0px;
  top:60px;
  width:182px;
  height:30px;
}
#u6838-4 {
  position:absolute;
  left:0px;
  top:90px;
  width:182px;
  height:30px;
}
#u6838-5 {
  position:absolute;
  left:0px;
  top:120px;
  width:182px;
  height:30px;
}
#u6838-6 {
  position:absolute;
  left:0px;
  top:150px;
  width:182px;
  height:30px;
}
#u6838-7 {
  position:absolute;
  left:0px;
  top:180px;
  width:182px;
  height:30px;
}
#u6838-8 {
  position:absolute;
  left:0px;
  top:210px;
  width:182px;
  height:30px;
}
#u6838-9 {
  position:absolute;
  left:0px;
  top:240px;
  width:182px;
  height:30px;
}
#u6838-10 {
  position:absolute;
  left:0px;
  top:270px;
  width:182px;
  height:30px;
}
#u6838-11 {
  position:absolute;
  left:0px;
  top:300px;
  width:182px;
  height:30px;
}
#u6838-12 {
  position:absolute;
  left:0px;
  top:330px;
  width:182px;
  height:30px;
}
#u6838-13 {
  position:absolute;
  left:0px;
  top:360px;
  width:182px;
  height:30px;
}
#u6838-14 {
  position:absolute;
  left:0px;
  top:390px;
  width:182px;
  height:30px;
}
#u6838-15 {
  position:absolute;
  left:0px;
  top:420px;
  width:182px;
  height:30px;
}
#u6838-16 {
  position:absolute;
  left:0px;
  top:450px;
  width:182px;
  height:30px;
}
#u6838-17 {
  position:absolute;
  left:0px;
  top:480px;
  width:182px;
  height:30px;
}
#u6838-18 {
  position:absolute;
  left:0px;
  top:510px;
  width:182px;
  height:30px;
}
#u6838-19 {
  position:absolute;
  left:0px;
  top:540px;
  width:182px;
  height:30px;
}
#u6838-20 {
  position:absolute;
  left:0px;
  top:570px;
  width:182px;
  height:30px;
}
#u6838 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u6846 {
  position:absolute;
  left:379px;
  top:111px;
  width:100px;
  height:18px;
}
#u6847 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6846_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6848 {
  position:absolute;
  left:265px;
  top:153px;
  width:197px;
  height:25px;
}
#u6848_input {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:7px;
}
#u6849 {
  position:absolute;
  left:180px;
  top:116px;
  width:10px;
  height:7px;
}
#u6850 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6851 {
  position:absolute;
  left:221px;
  top:95px;
  width:148px;
  height:41px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6851_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:41px;
  background:inherit;
  background-color:rgba(235, 250, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6851.mouseOver {
}
#u6852 {
  position:absolute;
  left:2px;
  top:10px;
  width:144px;
  word-wrap:break-word;
}
#u6853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u6853 {
  position:absolute;
  left:373px;
  top:66px;
  width:98px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u6854 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u6855 {
  position:absolute;
  left:517px;
  top:873px;
}
#u6855_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6855_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6856 {
  position:absolute;
  left:161px;
  top:50px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u6857 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u6858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6858 {
  position:absolute;
  left:998px;
  top:0px;
  width:473px;
  height:62px;
  text-align:left;
}
#u6859 {
  position:absolute;
  left:10px;
  top:10px;
  width:461px;
  word-wrap:break-word;
}
#u6860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6860 {
  position:absolute;
  left:105px;
  top:108px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u6861 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u6862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6862 {
  position:absolute;
  left:143px;
  top:159px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u6863 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u6864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6864 {
  position:absolute;
  left:312px;
  top:82px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u6865 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u6866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6866 {
  position:absolute;
  left:470px;
  top:50px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u6867 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u6868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6868 {
  position:absolute;
  left:479px;
  top:108px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u6869 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u6870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6870 {
  position:absolute;
  left:402px;
  top:151px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u6871 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u6872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6872 {
  position:absolute;
  left:402px;
  top:195px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u6873 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u6874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6874 {
  position:absolute;
  left:188px;
  top:93px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u6875 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u6876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6876 {
  position:absolute;
  left:998px;
  top:93px;
  width:473px;
  height:91px;
  text-align:left;
}
#u6877 {
  position:absolute;
  left:10px;
  top:10px;
  width:461px;
  word-wrap:break-word;
}
#u6878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6878 {
  position:absolute;
  left:998px;
  top:209px;
  width:473px;
  height:62px;
  text-align:left;
}
#u6879 {
  position:absolute;
  left:10px;
  top:10px;
  width:461px;
  word-wrap:break-word;
}
#u6880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6880 {
  position:absolute;
  left:998px;
  top:297px;
  width:473px;
  height:62px;
  text-align:left;
}
#u6881 {
  position:absolute;
  left:10px;
  top:10px;
  width:461px;
  word-wrap:break-word;
}
#u6882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6882 {
  position:absolute;
  left:998px;
  top:386px;
  width:473px;
  height:78px;
  text-align:left;
}
#u6883 {
  position:absolute;
  left:10px;
  top:10px;
  width:461px;
  word-wrap:break-word;
}
#u6884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6884 {
  position:absolute;
  left:998px;
  top:492px;
  width:473px;
  height:62px;
  text-align:left;
}
#u6885 {
  position:absolute;
  left:10px;
  top:10px;
  width:461px;
  word-wrap:break-word;
}
#u6886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6886 {
  position:absolute;
  left:998px;
  top:580px;
  width:473px;
  height:79px;
  text-align:left;
}
#u6887 {
  position:absolute;
  left:10px;
  top:10px;
  width:461px;
  word-wrap:break-word;
}
#u6888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6888 {
  position:absolute;
  left:998px;
  top:692px;
  width:473px;
  height:62px;
  text-align:left;
}
#u6889 {
  position:absolute;
  left:10px;
  top:10px;
  width:461px;
  word-wrap:break-word;
}
#u6890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6890 {
  position:absolute;
  left:998px;
  top:780px;
  width:473px;
  height:115px;
  text-align:left;
}
#u6891 {
  position:absolute;
  left:10px;
  top:10px;
  width:461px;
  word-wrap:break-word;
}
#u6892 {
  position:absolute;
  left:186px;
  top:63px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u6892_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:278px;
  height:8px;
}
#u6892_seg1 {
  position:absolute;
  left:270px;
  top:-36px;
  width:8px;
  height:40px;
}
#u6892_seg2 {
  position:absolute;
  left:270px;
  top:-36px;
  width:542px;
  height:8px;
}
#u6892_seg3 {
  position:absolute;
  left:798px;
  top:-42px;
  width:21px;
  height:20px;
}
#u6893 {
  position:absolute;
  left:340px;
  top:-40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6894 {
  position:absolute;
  left:130px;
  top:121px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u6894_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:334px;
  height:8px;
}
#u6894_seg1 {
  position:absolute;
  left:326px;
  top:-4px;
  width:8px;
  height:37px;
}
#u6894_seg2 {
  position:absolute;
  left:326px;
  top:25px;
  width:528px;
  height:8px;
}
#u6894_seg3 {
  position:absolute;
  left:846px;
  top:14px;
  width:8px;
  height:19px;
}
#u6894_seg4 {
  position:absolute;
  left:846px;
  top:14px;
  width:22px;
  height:8px;
}
#u6894_seg5 {
  position:absolute;
  left:854px;
  top:8px;
  width:21px;
  height:20px;
}
#u6895 {
  position:absolute;
  left:375px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6896 {
  position:absolute;
  left:213px;
  top:106px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u6896_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:91px;
  height:8px;
}
#u6896_seg1 {
  position:absolute;
  left:83px;
  top:-4px;
  width:8px;
  height:142px;
}
#u6896_seg2 {
  position:absolute;
  left:83px;
  top:130px;
  width:702px;
  height:8px;
}
#u6896_seg3 {
  position:absolute;
  left:771px;
  top:124px;
  width:21px;
  height:20px;
}
#u6897 {
  position:absolute;
  left:276px;
  top:126px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6898 {
  position:absolute;
  left:168px;
  top:172px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u6898_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:226px;
  height:8px;
}
#u6898_seg1 {
  position:absolute;
  left:218px;
  top:-4px;
  width:8px;
  height:164px;
}
#u6898_seg2 {
  position:absolute;
  left:218px;
  top:152px;
  width:612px;
  height:8px;
}
#u6898_seg3 {
  position:absolute;
  left:816px;
  top:146px;
  width:21px;
  height:20px;
}
#u6899 {
  position:absolute;
  left:287px;
  top:148px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6900 {
  position:absolute;
  left:337px;
  top:95px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u6900_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:374px;
  height:8px;
}
#u6900_seg1 {
  position:absolute;
  left:366px;
  top:-4px;
  width:8px;
  height:338px;
}
#u6900_seg2 {
  position:absolute;
  left:366px;
  top:326px;
  width:295px;
  height:8px;
}
#u6900_seg3 {
  position:absolute;
  left:647px;
  top:320px;
  width:21px;
  height:20px;
}
#u6901 {
  position:absolute;
  left:320px;
  top:118px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6902 {
  position:absolute;
  left:495px;
  top:63px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u6902_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:175px;
  height:8px;
}
#u6902_seg1 {
  position:absolute;
  left:167px;
  top:-4px;
  width:8px;
  height:468px;
}
#u6902_seg2 {
  position:absolute;
  left:167px;
  top:456px;
  width:336px;
  height:8px;
}
#u6902_seg3 {
  position:absolute;
  left:489px;
  top:450px;
  width:21px;
  height:20px;
}
#u6903 {
  position:absolute;
  left:121px;
  top:302px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6904 {
  position:absolute;
  left:504px;
  top:121px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u6904_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:127px;
  height:8px;
}
#u6904_seg1 {
  position:absolute;
  left:119px;
  top:-4px;
  width:8px;
  height:507px;
}
#u6904_seg2 {
  position:absolute;
  left:119px;
  top:495px;
  width:375px;
  height:8px;
}
#u6904_seg3 {
  position:absolute;
  left:480px;
  top:489px;
  width:21px;
  height:20px;
}
#u6905 {
  position:absolute;
  left:73px;
  top:366px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6906 {
  position:absolute;
  left:427px;
  top:164px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u6906_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:163px;
  height:8px;
}
#u6906_seg1 {
  position:absolute;
  left:155px;
  top:-4px;
  width:8px;
  height:567px;
}
#u6906_seg2 {
  position:absolute;
  left:155px;
  top:555px;
  width:416px;
  height:8px;
}
#u6906_seg3 {
  position:absolute;
  left:557px;
  top:549px;
  width:21px;
  height:20px;
}
#u6907 {
  position:absolute;
  left:109px;
  top:398px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6908 {
  position:absolute;
  left:427px;
  top:208px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u6908_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:121px;
  height:8px;
}
#u6908_seg1 {
  position:absolute;
  left:113px;
  top:-4px;
  width:8px;
  height:638px;
}
#u6908_seg2 {
  position:absolute;
  left:113px;
  top:626px;
  width:458px;
  height:8px;
}
#u6908_seg3 {
  position:absolute;
  left:557px;
  top:620px;
  width:21px;
  height:20px;
}
#u6909 {
  position:absolute;
  left:67px;
  top:476px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:285px;
}
#u6910 {
  position:absolute;
  left:1671px;
  top:0px;
  width:183px;
  height:285px;
}
#u6911 {
  position:absolute;
  left:2px;
  top:134px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6912 {
  position:absolute;
  left:1768px;
  top:8px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u6913 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u6914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6914 {
  position:absolute;
  left:1839px;
  top:8px;
  width:25px;
  height:25px;
  color:#FF0000;
}
#u6915 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u6916 {
  position:absolute;
  left:1471px;
  top:31px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u6916_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:193px;
  height:8px;
}
#u6916_seg1 {
  position:absolute;
  left:185px;
  top:-4px;
  width:8px;
  height:120px;
}
#u6916_seg2 {
  position:absolute;
  left:185px;
  top:108px;
  width:15px;
  height:8px;
}
#u6916_seg3 {
  position:absolute;
  left:186px;
  top:102px;
  width:21px;
  height:20px;
}
#u6917 {
  position:absolute;
  left:106px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6918 {
  position:absolute;
  left:1980px;
  top:0px;
  width:473px;
  height:75px;
  text-align:left;
}
#u6919 {
  position:absolute;
  left:10px;
  top:10px;
  width:461px;
  word-wrap:break-word;
}
#u6920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6920 {
  position:absolute;
  left:1980px;
  top:93px;
  width:473px;
  height:75px;
  text-align:left;
}
#u6921 {
  position:absolute;
  left:10px;
  top:10px;
  width:461px;
  word-wrap:break-word;
}
#u6922 {
  position:absolute;
  left:1793px;
  top:21px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u6922_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:31px;
  height:8px;
}
#u6922_seg1 {
  position:absolute;
  left:23px;
  top:-4px;
  width:8px;
  height:37px;
}
#u6922_seg2 {
  position:absolute;
  left:23px;
  top:25px;
  width:158px;
  height:8px;
}
#u6922_seg3 {
  position:absolute;
  left:173px;
  top:13px;
  width:8px;
  height:20px;
}
#u6922_seg4 {
  position:absolute;
  left:173px;
  top:13px;
  width:14px;
  height:8px;
}
#u6922_seg5 {
  position:absolute;
  left:173px;
  top:7px;
  width:21px;
  height:20px;
}
#u6923 {
  position:absolute;
  left:35px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6924 {
  position:absolute;
  left:1864px;
  top:21px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u6924_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u6924_seg1 {
  position:absolute;
  left:52px;
  top:-4px;
  width:8px;
  height:118px;
}
#u6924_seg2 {
  position:absolute;
  left:52px;
  top:106px;
  width:64px;
  height:8px;
}
#u6924_seg3 {
  position:absolute;
  left:102px;
  top:100px;
  width:21px;
  height:20px;
}
#u6925 {
  position:absolute;
  left:6px;
  top:49px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6926 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  color:#FFCC00;
}
#u6927 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
